<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module name="subs-editor">
  <template>
    <style>
      :host {
        display: block;

      }
      #newSubDiv button {
        width: 70px;
        margin: 5px;
      }
      #editorControlsDiv {
        vertical-align: bottom;
      }
      #startInput {
        width: 50px;
      }
      #endInput {
        width: 50px;
      }
    </style>

  <div id="newSubDiv" class="row">
    <div id="editorControlsDiv" class="col-md-4 col-sm-4">
      <div class="form-inline">
        <div class="form-group" id="editorControls">
          <label>Use current time</label>
          <button class="btn" id="getStartTime" on-tap="getStartTime">From</button>
          <button class="btn" id="getEndTime" on-tap="getEndTime">To</button>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-2">
        <paper-input id="startInput" label="From" type="number" value="{{startTime}}"></paper-input>
    </div>
    <div class="col-md-2 col-sm-2">
        <paper-input id="endInput" label="To" type="number" value="{{endTime}}"></paper-input>
    </div>
    <div class="col-md-4 col-sm-4">
      <button class="btn btn-danger" id="clearValues" on-tap="clearInputValues">Clear</button>
      <button class="btn btn-success" id="submitSubLineBtn" on-tap="registerNewLine">Add</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <paper-input char-counter label="New subtitle line text" id="subText" type="text" value="{{newTextLine}}"></paper-input>
      <button class="btn btn-success" id="finishWorkWithSubs" on-tap="createJSONfromSubsList">Save as a new File</button>
      <button class="btn btn-danger" id="cancelWorkWithSubs" on-tap="discardChangesAndCloseEditor">Discard and Close Editor</button>
    </div>
  </div>

  <iron-ajax id="ajaxSendVTT"
    url="[[phpFile]]"
    body="[[ajaxBody]]"
    handle-as="json"
    content-type="application/json"
    method="post"
    on-response="reactOnResponse"
    with-credentials="true"
    last-response="{{ajaxResponse}}"
    verbose="true"></iron-ajax>

  </template>

  <script>

  /**
   *  [removeLine DEL-button at edit subs]
   *  @method removeLine
   *  @param  {[type]}   id [description]
   *  @return {[type]}      [description]
   */
    function removeLine(id) {
      console.log("removing line: " + id);
      document.getElementById("subsEditor").removeLineNo(id);
    }

    function editLine(id) {
      console.log("editing line: " + id);
      var listElement = $("[id=subtitleList] li")[id];
      listElement.style.background = "lightblue";
      document.getElementById("subsEditor").editLineNo(id);
    }


    Polymer({

      is: 'subs-editor',

      properties: {
        comp_name: {
          type: String,
          value: 'subs-editor',
        },
        startTime: {
          type: Number,
          value: 0,
        },
        startTimeVTT: {
          type: String,
          value: "",
        },
        endTime: {
          type: Number,
          value: 0,
        },
        endTimeVTT: {
          type: String,
          value: "",
        },
        newTextLine: {
          type: String,
          value: "",
        },
        phpFile: {
    		  type: String,
    		  value: urlRoot+"/backend/createVTTfile.php",
    		},
        ajaxBody: {
          type: Object,
          value: {},
        }
      },

/**
 *  translate property time to vtt time format
 *  @method
 *  @return {[type]} [description]
 */
      getStartTime: function() {
        this.startTimeVTT = ""; // reset
        var videoTag = document.getElementById("videoScreen");
        this.startTime = parseInt(videoTag.currentTime);
        document.getElementById("startInput").value = this.startTime;
        this.startTimeVTT = this.secondsToVTTtime(this.startTime);
        console.log(this.startTimeVTT);
      },

/**
 *  translate property time to vtt time format
 *  @method
 *  @return {[type]} [description]
 */
      getEndTime: function() {
        if (this.startTimeVTT == null) {
          console.log("Need 'start timestamp' first");
        } else {
          var videoTag = document.getElementById("videoScreen");
          document.getElementById("videoControls").togglePlayPause();

          //videoTag.pause();
          // change pause/play button
          this.endTime = parseInt(videoTag.currentTime);
          document.getElementById("endInput").value = this.endTime;
          this.endTimeVTT = this.secondsToVTTtime(this.endTime);
          console.log(this.endTimeVTT);
        }
      },


/**
 *  transforms seconds to vtt-time string
 *  @method
 *  @param  {[float]} sec [it is a number with 0-3 decimal ciphers]
 *  @return {[string]}     [description]
 */
      secondsToVTTtime: function(sec) {
        var result = "";
        var hours = parseInt(sec / 3600);
        if (hours < 10) {
          result += "0";
        }
        result += hours + ":";
        var minutes  = parseInt((sec - (hours * 3600)) / 60);  // 0-59
        if (minutes < 10) {
          result += "0";
        }
        result += minutes + ":";
        var seconds = parseInt(sec % 60); // to get ss:000 format need to drop decimals
        if (seconds < 10) {
          result += "0";
        }
        result += seconds + ".000";
        return result;
      },

/**
 *  Reacts on 'Add' button tap. adds new cue to video.track and calls for updating 'textDiv'
 *  @method
 *  @return {[type]} [description]
 */
      registerNewLine: function() {
        var videoTag = document.getElementById("videoScreen");
        var currentTrack = videoTag.textTracks[0];
        //console.log(currentTrack);
        if (!currentTrack) {
          console.log("emptySub.vtt was not loaded correctly");
        } else {  // can edit current trackText
          currentTrack.addCue(new VTTCue(this.startTime, this.endTime, this.newTextLine));
          this.startTime = this.endTime;
          this.newTextLine = "";
          //console.log(currentTrack);
          document.getElementById("videoPlayer").readContent(currentTrack,"subsEdit");
        }
      },

/**
 * Removes cue from video.track and calls for updating 'textDiv'
 *  @method
 *  @return {[type]} [description]
 */
removeLineNo: function(i) {
        var videoTag = document.getElementById("videoScreen");
        var currentTrack = videoTag.textTracks[0];
        //console.log(currentTrack);
        if (!currentTrack) {
          console.log("emptySub.vtt was not loaded correctly");
        } else {  // can edit current trackText
          var cueToRemove = currentTrack.cues[i];
          //console.log(cueToRemove);
          currentTrack.removeCue(cueToRemove);
          //console.log(currentTrack);
          document.getElementById("videoPlayer").readContent(currentTrack,"subsEdit");

          // if line contains picture remove also from picture-list
        }
      },

/**
 *  Removes cue from video.track and puts its values in properties shown in subs-editor tag
 *  To get it back need to click 'Add'
 *  @method
 *  @param  {[type]} i [description]
 *  @return {[type]}   [description]
 */
      editLineNo: function(i) {
        var videoTag = document.getElementById("videoScreen");
        var currentTrack = videoTag.textTracks[0];
        //console.log(currentTrack);
        if (!currentTrack) {
          console.log("emptySub.vtt was not loaded correctly");
        } else {  // can edit current trackText
          var cueToEdit = currentTrack.cues[i];
          this.startTime = cueToEdit.startTime;
          this.endTime = cueToEdit.endTime;
          this.newTextLine = cueToEdit.text;
          //console.log(cueToEdit);
          currentTrack.removeCue(cueToEdit);
          //document.getElementById("videoPlayer").readContent(currentTrack,"subsEdit");

          // if line contains picture remove also from picture-list
        }
      },

/**
 *  resests component properties
 *  @method
 *  @return {[type]} [description]
 */
      clearInputValues: function() {
        this.startTime = 0;
        this.endTime = 0;
        this.newTextLine = "";
      },

/**
 *  Clear data, discard changes made in subtext, and close video-player
 *  @method
 *  @return {[type]} [description]
 */
      discardChangesAndCloseEditor: function() {
        document.getElementById("playerModule").resetVideoDiv();
      },

/**
 *  Reacts on "Sava as a new file" button. creates JSON object from subtitle data and
 *  sends it to php-server to interprete
 *  @method
 *  @return {[type]} [description]
 */
      createJSONfromSubsList: function() {
        //var videoUrl = $("[id=videoScreen] source")[0].src;
        var videoUrl = document.getElementById("playerModule").currentVideoUrl;
        var splittedUrl = videoUrl.split("/");
        if (splittedUrl.length > 1 ) {
          var videoFolder = splittedUrl[splittedUrl.length-2];
          var videoFileName = splittedUrl[splittedUrl.length-1];
          var dotPos = videoFileName.lastIndexOf(".");
          var textFileName = videoFileName.slice(0, dotPos) + ".vtt";
        }
        console.log("folder: " + videoFolder);
        var videoId = document.getElementById("playerModule").currentVideoId;
        console.log("vidId: " + videoId);
        var textFilePath = "videos/" + videoFolder + "/" + textFileName;
        //console.log(videoUrl);
        var jsonObject = { "textFilePath": textFilePath,  "videoId": videoId, "cues" : []} ;
      //  console.log(jsonObject);
// var jsonObject = { "videoUrl": videoUrl,  "cues" : []} ;
        var list = $("[id=subtitleList] li");
        for (i=0 ; i<list.length ; i++) {
          // somehow it is the only way to get html inhold of first a-tag in i-th line
          var lineText = $("[id=subtitleList] li:nth-child(" + (i+1) + ")").children("a").first()["0"].innerHTML;
          //console.log(lineText);
          var line = {
            "id":list[i].cueId,
            "startTime":this.secondsToVTTtime(list[i].startsAt),
            "endTime":this.secondsToVTTtime(list[i].endsAt),
            "text":lineText,
          };
          //console.log(line);
          jsonObject.cues.push(line);
        }
        console.log(jsonObject);
        if (confirm("Do You want to send current subtitles, and create VTT file on Your account?") == true) {
          console.log("OK! sending request and closing editor");
          console.log(this.ajaxBody);
          this.ajaxBody = jsonObject;
          console.log(this.ajaxBody);
          this.phpFile = urlRoot+"/backend/createVTTfile.php";

          var ajaxTag = document.getElementById("ajaxSendVTT");
          ajaxTag.generateRequest();

        } else {
          console.log("CANCEL! keep working with local version of subtitles");
        }

        // document.getElementById("playerModule").resetVideoDiv();
      },

/**
 *  Gets response from adding new vtt-file
 *  @method
 *  @return {[type]} [description]
 */
      reactOnResponse: function() {
        var response = document.querySelector('#ajaxSendVTT').lastResponse;
        console.log(response);
        // clear and close after saving
        // document.getElementById("playerModule").resetVideoDiv();
      },

    });
  </script>
</dom-module>
