<script src="../urlConfig.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">


<dom-module  id="video-upload">
  <template>
    <style>
      :host {
        display: block;
      }

      paper-progress {
        width: 100%
      }

      #target-text {

      }
    </style>
    <div class="video-upload">
      <div class="fileInformation">

        <iron-ajax id="cc"
              url="[[phpFile]]"
              body=""
              handle-as="json"
              loading="{{loading}}"
    		  method="post"
    		  on-response="responseReact"
              last-response="{{ajaxResponse}}"
              with-credentials="true"
    		  verbose="true">
        </iron-ajax>
        <div id="alertbox">

        </div>


          <paper-input  label="Video Name" id="vidName" name="vidName" required autofocus></paper-input>

          <paper-input char-counter label="Description" id="vidDesc" type="text" name="vidDesc"></paper-input>

        <div class="btn-group btn-group-justified">
          <label id="target-text" class="btn btn-default" for="my-file-selector">
    <input enctype="multipart/form-data" id="my-file-selector" type="file" style="display:none;" onchange="$('#aim').text($('#my-file-selector').val().replace(/^.*[\\\/]/, ''));" required>
    <span class="glyphicon glyphicon-file" id="aim">Select File</span></label>
<span class='label label-info' id="upload-file-info"></span>
<a type="button" href="#" on-tap="uploadFile" class="btn btn-default" name="submitFileUpload"><span class="glyphicon glyphicon-floppy-save"> </span>Submit</a>
      </div>

      <template is="dom-if" if="{{loading}}">
        <paper-progress value="10" indeterminate="true" style="width:100%;"></paper-progress>
      </template>



      </div>
    </div>
    </template>
    <script>

    Polymer({
    /* this is the element's prototype */
    is: 'video-upload',
    properties: {
      comp_name: {
        type: String,
        value: 'video-upload',
      },
      phpFile: {
        type: String,
        value: urlRoot + "/backend/upload.php",
      },
    },


    uploadFile : function() {
      var upload = true;
      var errorMsg = [];
      var name = $('#vidName').val();
      var desc = $('#vidDesc').val();
      var filename = document.getElementById("my-file-selector").files[0];


      if (!name) {
        upload = false;
        errorMsg.push("A video needs a name! ");
      }
      if (!desc) {
        upload = false;
        errorMsg.push("A file should have a description! ");
      }

      if(!filename) {
        upload = false;
        errorMsg.push("No file selected! ");
      }

      var formData = new FormData();

      if(upload) {
        formData.append("file",filename);
        formData.append('vidname', name);
        formData.append('viddesc', desc);

        var ajaxTag = document.getElementById("cc");
      //  ajaxTag.body = "lbtn=true&file="+filename+
        //              "&vidname="+name +
          //            "&viddesc="+desc;
          ajaxTag.body = formData;
        ajaxTag.generateRequest();


      } else {
        for (var i = 0; i < errorMsg.length; i++) {
          setAlert("warning", errorMsg[i], "warning");
        }
      }
    },

    responseReact : function () {

      $('#videoList')[0].refreshList();

      var response = document.getElementById('cc').lastResponse;
          for (var variable in response) {
            if (response.hasOwnProperty(variable)) {
              if(variable == "success") {
                document.getElementById("vidName").value = "";
                document.getElementById("vidDesc").value = "";
                var span = document.getElementById("aim");
                span.removeChild(span.lastChild);
                span.appendChild(document.createTextNode("Select File"));

              }

              for (var key in response[variable]) {
                if (response[variable].hasOwnProperty(key)) {
                  setAlert(key, response[variable][key], variable);
                }
              }

        }
      }
    },

  });
    </script>


</dom-module>
