<script src="../urlConfig.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../teacher-page/teacher-page.html">
<link rel="import" href="../add-tracklist/add-tracklist.html">
<link rel="import" href="../video-upload/video-upload.html">
<link rel="import" href="../video-list/video-list.html">
<link rel="import" href="../edit-tracklist/edit-tracklist.html">
<link rel="import" href="../video-manager/video-manager.html">
<link rel="import" href="../delete-list/delete-list.html">
<link rel="import" href="../display-log/display-log.html">

<dom-module id="teacher-panel">
  <template>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome dear teacher</h1>
        <p>Use menu to toggle menus to add videos or playlists</p>
      </div>
    </div>
    <style>
      :host {
        display: none;

      }
    </style>
    <add-tracklist id="addTracklistModule"></add-tracklist>
    <edit-tracklist id="editTracklistModule"></edit-tracklist>
    <edit-tracklist id="deleteTracklistModule"></edit-tracklist>
    <video-manager></video-manager>
    <display-log id="displayLog"></display-log>



  </template>

  <script>
    Polymer({

      is: 'teacher-panel',

      properties: {
        comp_name: {
          type: String,
          value: 'teacher-panel',
        },
        user : {
          type: String,
          value: "",
        },
      },
/**
 *  [sets user data from main application component to panel, starter after succesful teacher login]
 *  @method
 */
      updateUser: function() {
        var currentUser = document.getElementById("mainApp").currentUser;
        this.user = currentUser.givenname + " " + currentUser.surename;
      },

/**
 *  [alternative to "add tracklist button"]
 *  @method
 */
      addTracklistLink: function() {
        // in case clicked while filling up sign-up form
        document.getElementById("addTracklistModule").cancelAdding();

        document.getElementById("addTracklistModule").style.display='block';
      },
        
/**
 *  [alternative to "edit tracklist button"]
 *  @method
 */
      editTracklistLink: function() {
        // in case clicked while filling up sign-up form
        document.getElementById("editTracklistModule").cancelEdit();

        document.getElementById("editTracklistModule").style.display='block';
      },
        
/**
 *  [alternative to "delete tracklist button"]
 *  @method
 */
      deleteTracklistLink: function() {
        // in case clicked while filling up sign-up form
        document.getElementById("deleteTracklistModule").cancelEdit();

        document.getElementById("deleteTracklistModule").style.display='block';
      },

    });
  </script>
</dom-module>
