<script src="../urlConfig.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../student-page/student-page.html">

<dom-module id="student-panel">
  <template>
    <style>
      :host {
        display: none;

      }
    </style>


    <i>Current panel: [[comp_name]]. User: [[user]]</i>
    <student-page></student-page>

  </template>

  <script>
    Polymer({

      is: 'student-panel',

      properties: {
        comp_name: {
          type: String,
          value: 'student-panel',
        },
        user : {
          type: String,
          value: '',
        },
      },
/**
 *  [sets user data from main application component to panel, starter after succesful student login]
 *  @method
 *  @return {[type]} [description]
 */
      updateUser: function() {
        var currentUser = document.getElementById("mainApp").currentUser;
        this.user = currentUser.givenname + " " + currentUser.surename;
      }

    });
  </script>
</dom-module>
