<script src="../urlConfig.js"></script>
<script src="../clearData.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="edit-tracklist">
    <template>
        <style>
        :host {
            display: none;
        }
        #listTitle {
            max-width: 250px;
        }
        #description {
            height: 130px;
            max-width: 650px;
        }
        #right{
            flex: 1;    
        }
        #myTracks, #me {
            height: 190px;
        }
        #showListOfMyList {
            max-width: 650px;
        }
        </style>
        <h2>Current component [[comp_name]]</h2>
        <!-- Get list of tracklists -->
        <iron-ajax id="getListOfList"
                   url="[[phpFile]]"
                   body=""
                   handle-as="json"
                   method="post"
                   on-response="responseReact"
                   last-response="{{ajaxRes1}}"
                   with-credentials="true"
                   verbose="true">
        </iron-ajax>
        <!-- Get a tracklist data from DB-->
        <iron-ajax id="getMefromDB"
                   url="[[phpFile2]]"
                   body=""
                   handle-as="json"
                   method="post"
                   on-response="reactToThis"
                   last-response="{{ajaxRes2}}"
                   with-credentials="true"
                   verbose="true">
        </iron-ajax>
        <!-- Get videos in this tracklist-->
        <iron-ajax id="getTheVideos"
                   url="[[phpFile3]]"
                   body=""
                   handle-as="json"
                   method="post"
                   on-response="gotTheTracks"
                   last-response="{{ajaxRes3}}"
                   with-credentials="true"
                   verbose="true">
        </iron-ajax>
        <!-- Get all my videos that is not alredy in this list-->
        <iron-ajax id="getAllVideos"
                   url="[[phpFile4]]"
                   body=""
                   handle-as="json"
                   method="post"
                   on-response="gotTheVideos"
                   last-response="{{ajaxRes4}}"
                   with-credentials="true"
                   verbose="true">
        </iron-ajax>
        <!-- Post all changes / Update db data -->
        <iron-ajax id="updateData"
                   url="[[phpFile5]]"
                   body=""
                   handle-as="json"
                   method="post"
                   on-response="allIsGoodNow"
                   last-response="{{ajaxRes5}}"
                   with-credentials="true"
                   verbose="true">
        </iron-ajax>
        
        <!-- This Div will Show list of tracklist that user have, using Bootstrap -->
        <div id="showListOfMyList" class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">My tracklist</h3>
            </div>
            <div class="panel-body" id="myList" >
                <!-- This will make a list of elements that user can choose between them -->
                <template is="dom-repeat" items="{{ajaxRes1}}">
                    <button type="button" id="[[item.tlid]]" class="list-group-item" on-tap="_choseMe">
                        {{item.name}}                  
                    </button>
                </template>
                
            </div>
        </div>
        
        <!-- This is a Form to edit data, it looks the same like addTrackList, but is just a copy-->
        <div id="showEditForm">
            <div class="row">
                <div id="left" class="col-md-5">
                    <input id="newTit" type="text" class="form-control" name="title" placeholder="Tracklist Title" required autofocus/><br/>
                    <textarea id="newDec" class="form-control" name="descip" placeholder="Description" on-keyup="countLength2" maxlength="500" required></textarea>
                    <span id="newCount2"></span><span>/500</span><br>
                    <input type="checkbox" id="newPrivate" name="priv" value="0" on-tap="makeItPrivate">
                    <label>Make it as a private video</label>
                </div>
            <div class="col-md-7">
                <div class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Tracks</h3>
                        </div>
                        <div class="panel-body" id="myTracks">
                            <ul class="list-group" id="TracksOut">
                                <!-- This will make a list of elements that user can choose between them, these element are truck that this user is the owner for it and do not exist in this tracklist. This will give the user chance to add them to the list while editing -->
                                <template is="dom-repeat" items="{{ajaxRes4}}">
                                    <button type="button" id="[[item.id]]" class="list-group-item" on-tap="_putMe">
                                        {{item.name}}                  
                                    </button>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="right" class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Videos in this list</h3>
                        </div>
                        <div class="panel-body" id="me">
                            <ul class="list-group" id="TracksIn">
                                <!-- This will make a list of elements that user can choose between them, these element are truck that this tracklist have. This will give the user chance to remove them from the trucklist -->
                                <template is="dom-repeat" items="{{ajaxRes3}}">
                                    <button type="button" id="[[item.id]]" class="list-group-item" on-tap="_putMe">
                                        {{item.name}}                  
                                    </button>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- 2 buttons to save chages or cancel-->
        <button class="btn btn-success"id="button" on-tap="editListInfo">Edit Tracklist</button>
        <button class="btn btn-danger" id="button" on-tap="cancelEdit">Cancel</button>
    </template>
    <script>
    Polymer({

      is: 'edit-tracklist',

      properties: {
        comp_name: {
          type: String,
          value: 'edit-tracklist',
        },
        phpFile: {
		  type: String,
		  value: urlRoot+"/backend/showListofList.php",
		},
        phpFile2: {
		  type: String,
		  value: urlRoot+"/backend/getThisListFromDB.php",
		},
        phpFile3: {
		  type: String,
		  value: urlRoot+"/backend/getVideosfromList.php",
		},
        phpFile4: {
		  type: String,
		  value: urlRoot+"/backend/allVideosNotInThisList.php",
		},
         phpFile5: {
		  type: String,
		  value: urlRoot+"/backend/updateListData.php",
		},  
      },
        
    /* Using attached will give get auto result without a trigger like button */
    attached: function()
    {
        this.showList();                                         // function to show list
    },
/**
 *  [clears and hides form]
 *  @method cancelEdit
 */
    cancelEdit: function()
    {
        clearEditTracklistForm();
        this.style.display='none';
    },
        
/**
 *  [Get List of tacklist from database (file: showListofList.php)]
 *  @method showList
 */
    showList: function()
    {
        // Get data from Ajax
        var hide = document.getElementById('showEditForm').style.display = 'none';
        var ajaxTag = document.querySelector('#getListOfList');
        
        /* A list have a ID, name, descriptiaon, addtime, owner, private.
            tlid     name    description     addtime     owner   private
        */
        ajaxTag.body = "lbtn=true";	
        ajaxTag.generateRequest();
    },

/**
 *  [reacts on data send in response from showListofList.php]
 *  @method responseReact
 */
    responseReact : function ()
    {
        // Get responsen fram Ajax and print it to show if data is right.
        var response = document.querySelector('#getListOfList').lastResponse;
        //console.log(response);

        clearAddTracklistForm();
    },

/**
 *  [While choosing a track from your tracks or yourlist as a user will 3 ajax be
 *   generated, the first-one will get information about choosen tracklist form DB,
 *   secound-one will all the videos (tracks) that the choosen element have in DB,
 *   The third and almost last one in this file will get all videos that this user have 
 *   and don't found in the chosen tracklist. That gives more opportunities to while 
 *   chooeing a list]
 *  @method _choseMe
 *  @param e: it is the object that user have chossen.
 *  
 */
    _choseMe : function (e)
    {
        //No need for list now, so hide it
        var hide = document.getElementById('showListOfMyList').style.display = 'none';
        var listId = document.getElementById(e.model.get("item.tlid")).id;
        
        //First-one (read up)
        var ajaxTag = document.querySelector('#getMefromDB');
        ajaxTag.body =  "lbtn=true&listId=" + listId;
        
        //secound-one (read up)
        var ajaxTag2 = document.querySelector('#getTheVideos');
        ajaxTag2.body =  "lbtn=true&listId=" + listId;
        
        //Third-one (read up)
        var ajaxTag3 = document.querySelector('#getAllVideos');
        ajaxTag3.body =  "lbtn=true&listId=" + listId;

        //generate all one by one !!
        ajaxTag.generateRequest();
        ajaxTag2.generateRequest();
        ajaxTag3.generateRequest();
    },
        
/**
 *  [reacts on Iron-Ajax(GetMeFromDB) .. This get all information from DB to frontend
 *   This is using on dom-repeat up to generate a list ... Here will values the come from *   DB get in right forms]
 *  @method reactToThis
 */
    reactToThis : function ()
    {
        // Get responsen fram Ajax and print it to show if data is right.
        var response = document.querySelector('#getMefromDB').lastResponse;
        console.log(response);
        
        // Now user can see editForm, because the element in List is already choosen and list is hide
        var hide = document.getElementById('showEditForm').style.display = 'block';
        
        //Put values in its Form, while user can edit them
        var tit = document.getElementById('newTit').value = response[0].name;
        var dec = document.getElementById('newDec').value = response[0].description;
                
        var nummber = document.getElementById('newCount2');
        nummber.style.color = 'black';
        nummber.textContent = dec.length;

        if(dec.length === 500)
            nummber.style.color = 'red';
        
        if(response[0].private == 1)
        {
            var priv = document.getElementById('newPrivate');
            priv.checked = true;
        }
        
        var knapp = document.createElement('div');
        knapp.setAttribute('id', "IamHere");
        knapp.setAttribute('class', response[0].tlid);
        knapp.style.display = "none";
        var tiit = document.getElementById('newDec');
        tiit.appendChild(knapp);
    },
        
/**
 *  [Show character length in textarea, and stop if more than 500 characters]
 *  @method countLength2
 */
    countLength2 : function()
    {
        var dec = document.getElementById('newDec'),
            num = document.getElementById('newCount2');
        num.style.color = 'black';
        num.innerHTML = value = dec.value.length;

        if(dec.value.length === 500)
            num.style.color = 'red';
    },

/**
 *  Change checkboxs value if user want to make playlist private.
 *  @method makeItPrivate
 */
    makeItPrivate: function ()
    {
        var cBox = document.getElementById('newPrivate'); // Get element
        
        if(cBox.value === '1')                         // Change Value
            cBox.value = '0';
        else
            cBox.value = '1';
    },

    getTheVideos : function ()
    {
        var response = document.querySelector('#getAllVideos').lastResponse;
        console.log(response);
    },

/**
 *  [reacts on Ajax response from (getAllVideos) => File: allVideosNotInThisList.php
 *   Notings spesiel happens more than print out the response to check it and make sure 
 *   that evey thing is good]
 *  @method gotTheTracks
 */
    gotTheTracks : function ()
    {
        var response = document.querySelector('#getTheVideos').lastResponse;
        console.log(response);
        if(response.length == 0)
            console.log("From gotTheTracks");
        else
            console.log("something went wrong on gotTheTracks from getTheVideos");
    },
        
/**
 *  [reacts on data send in response from showListofList.php]
 *  @method
 */
    gotTheVideos : function ()
    {
        var response = document.querySelector('#getAllVideos').lastResponse;
        console.log(response);
        if(response.length == 0)
            console.log("From gotTheVideos");
        else
            console.log("something went wrong on gotTheTracks");
    },
        
/**
 *  [This function will work when user click on element from his tracks and his 
 *   tracklists tracks. this will change position of the elemet from a list to another.
 *   (Both ways). To remove the element we are asking parent elemnet to remove it's son ]
 *  @method addMeToList
 */
    _putMe : function (e)
    {
        //console.log(e.model.get("item"));
        //var removeMe = document.getElementById(e.model.get("item.id"));
        var removeMe = document.getElementById(e.model.get("item.id"));
            
        var myMom = removeMe.parentNode;

        if(myMom.id == "TracksOut")                      // From tracklist to videos
        {
            removeMe.parentNode.removeChild(removeMe);
            var addMe = document.getElementById('TracksIn');
            addMe.appendChild(removeMe);
        }
        else                                            // From Videos to tracklist
        {
            removeMe.parentNode.removeChild(removeMe);
            var addMe = document.getElementById('TracksOut');
            addMe.appendChild(removeMe);
        }

        console.log(removeMe);                          //print the status
    },
        
/**
 *  [This function will react and start working when cliking on save edit buttons
 *  In this way all data that is in forms and both list will post to backend file:
 *  updateListData.php. there will each data type be split and contact Db for change.
 *  @method addMeToList
 */
    editListInfo : function ()
    {
        // Make a request
        var ajaxTag = document.querySelector('#updateData');
	    
        // Get data from froms
        var name = document.getElementById("newTit").value;
        var des = document.getElementById("newDec").value;
        var cBox = document.getElementById('newPrivate').value;
        
        // Get Videos data
        var allVideos = document.getElementById('TracksIn');
        var howMany = document.getElementById('TracksIn').childElementCount;
        var videosInList = [];
        
        // Get list id
        var iD = document.getElementById("IamHere").getAttribute('class');
        for(var i=1; i<=howMany; i++)
            videosInList[i] = allVideos.childNodes[i].id;
        
        /* A list have a ID, name, descriptiaon, addtime, owner, private.
            tlid     name    description     addtime     owner   private
        */
        // Smash the data to body
        ajaxTag.body =  "lbtn=true&name=" + name + 
                        "&description=" + des +
                        "&private=" + cBox +
                        "&id=" + iD +
                        "&videos=" + videosInList;

        console.log(ajaxTag.body);		            // Test data
        ajaxTag.generateRequest();                  // Generate a request
    },
    
/**
 *  [add videos on that i on own to this list]
 *  @method addMeToList
 *  
 *  
 */
    allIsGoodNow : function ()
    {
        var response = document.querySelector('#updateData').lastResponse;
        console.log(response);
        if(response.length == 0)
            console.log("last response got something");
        else
            console.log("last response did not get anything");
    },
        
    });
    </script>
</dom-module>