<script src="../urlConfig.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<!--
<link rel="import" href="../add-dummy-user/add-dummy-user.html">
-->
<link rel="import" href="../admin-page/admin-page.html">
<link rel="import" href="../remove-user/remove-user.html">

<dom-module id="admin-panel">
  <template>
    <style>
      :host {
        display: none;

      }
    </style>


    <!-- Add a greeting here -->
    <admin-page></admin-page>

  </template>

  <script>
    Polymer({

      is: 'admin-panel',

      properties: {
        comp_name: {
          type: String,
          value: 'admin-panel',
        },
        user : {
          type: String,
          value: '',
        },
      },
/**
 *  [sets user data from main application component to panel, starter after succesful admin login]
 *  @method
 *  @return {[type]} [description]
 */
      updateUser: function() {
        var currentUser = document.getElementById("mainApp").currentUser;
        this.user = currentUser.givenname + " " + currentUser.surename;
      }

    });
  </script>
</dom-module>
