<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../player-video/player-video.html">
<link rel="import" href="../subs-editor/subs-editor.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module name="player-panel">
  <template>
    <style>
      :host {
        display: block;

      }
      #textDiv {
        overflow-x: auto;
        overflow-y: scroll;
        max-width: 100%;
        padding: 10px;
      }
    </style>

    <iron-ajax id="wwwtek"
          url="[[logpath]]"
          body=""
          handle-as="json"
      method="post"
      on-response="responseReact2"
          last-response="{{ajaxResponse}}"
          with-credentials="true"
      verbose="true">
    </iron-ajax>
    <div id="demoVideoPlayer">
      <!--
      Use those four links to create proper view 1.video only, 2.video+subtitle, 3.video+editSubtitle, 4.video+newsubtitle(must load empty file :/)
      Using relative paths to php server, global var urlRoot added later in functions that download files. somehow [[phpServer]] added directly to path don't want to work...
    -->
        <paper-button id="showVid"
          on-tap="_getArgs"
          videoId="0f8b13cd-2ff0-11e7-8937-d8cb8a805ab4"
          mode="videoOnly"
          videoUrl="/backend/videos/c3563d9a8e8037a547ae72be899ce11f/sampleVideo.mp4">
          (sample_video)</paper-button>
        <paper-button id="showVidAndSub"
          on-tap="_getArgs"
          videoId="0f8b13cd-2ff0-11e7-8937-d8cb8a805ab4"
          mode="videoSubs"
          videoUrl="/backend/videos/c3563d9a8e8037a547ae72be899ce11f/sampleVideo.mp4"
          subUrl="/backend/videos/c3563d9a8e8037a547ae72be899ce11f/sampleVideo.vtt">
          (video+subs)</paper-button>
        <paper-button id="showVidAndEditor"
          on-tap="_getArgs"
          videoId="0f8b13cd-2ff0-11e7-8937-d8cb8a805ab4"
          mode="subsEdit"
          videoUrl="/backend/videos/c3563d9a8e8037a547ae72be899ce11f/sampleVideo.mp4"
          subUrl="/backend/videos/c3563d9a8e8037a547ae72be899ce11f/sampleVideo.vtt">
          (video+editor(existing))</paper-button>
        <paper-button id="showVidAndEditor"
          on-tap="_getArgs"
          videoId="0f8b13cd-2ff0-11e7-8937-d8cb8a805ab4"
          mode="subsEdit"
          videoUrl="/backend/videos/c3563d9a8e8037a547ae72be899ce11f/sampleVideo.mp4"
          subUrl="/backend/videos/emptySub.vtt">
          (video+editor(new))</paper-button>
    </div>
    <div class="row">
      <div id="divForVideoAndEditor" class="col-md-6 col-sm-8">
          <player-video id="videoPlayer"></player-video>

      </div>
      <div class="col-md-6 col-sm-4">
        <div id="textDiv"></div>
      </div>
    </div>

  </template>

  <script>
    Polymer({

      is: 'player-panel',

      properties: {
        comp_name: {
          type: String,
          value: 'player-panel',
        },
        currentVideoUrl: {
          type: String,
          value: '',
        },
        currentVideoId: {
          type: String,
          value: '',
        },
        currentSubtitles: {
          type: String,
          value: '',
        },
        logpath: {
          type: String,
          value: urlRoot + "/backend/log.php",
        },
      },

/**
 *  Removes previous video and subtitles from html-tags
 *  @method
 *  @return {[type]} [description]
 */

      resetVideoDiv: function() {
        document.getElementById("videoPlayer").clearVideoDiv();
        document.getElementById("textDiv").innerHTML="";
        var child = document.getElementById("subsEditor");
        if (child) {  // if editor was created, remove tag
          var parent = document.getElementById("divForVideoAndEditor");
          parent.removeChild(child);
        }
      },

/**
 *  Gets attributes 'mode', 'videoUrl' and 'subUrl' from link to watch/edit video
 *  @method
 *  @param  {[type]} e [description]
 *  @return {[type]}   [description]
 */
      _getArgs: function(e) {
        // remove previous videos and subs if existed
        this.resetVideoDiv();
        var mode = Polymer.dom(e).rootTarget.getAttribute('mode');
        // add urlRoot to make sure file is not download from localhost:8080 - polymer server but php server !!
        var videoUrl = urlRoot + Polymer.dom(e).rootTarget.getAttribute('videoUrl');
        this.currentVideoUrl = videoUrl;
        this.currentVideoId = Polymer.dom(e).rootTarget.getAttribute('videoId');
        console.log("video: " + videoUrl);
        console.log(this.currentVideoId);
        // find place to put video tag
        var videoDiv = document.getElementById("videoDiv");
        // create video tag
        var videoTag = document.createElement("video");
        videoTag.setAttribute("id","videoScreen");
        // this to load VTT without cors issue, video loaded but text not :/
        videoTag.setAttribute("crossorigin", "anonymous");
        videoTag.style.maxHeight = ($(window).height() * 0.5) + "px";
        videoTag.style.maxWidth = "100%";
        videoDiv.appendChild(videoTag);
        // create source tag to video
        var sourceItem = document.createElement("source");
        sourceItem.setAttribute("src", videoUrl);
        sourceItem.setAttribute("type", "video/mp4");
        videoTag.appendChild(sourceItem);

        // available modes video/vdeo+subs/video+editor
        switch (mode) {
          case "videoOnly":  // no more action needed
            console.log("creating video tag without subs");
            break;
          case "subsEdit": // add editor tag
            console.log("creating video tag without subs, creating editor tag");
            var editorTag = document.createElement("subs-editor");
            editorTag.setAttribute("id","subsEditor");
            document.getElementById("divForVideoAndEditor").appendChild(editorTag);
            // break;  !!!  NO BREAK after this case !!! add emptySub.vtt as trackText
          case "videoSubs":  // add subtitle tag to both video subs and edit modes
            // add urlRoot to make sure file is not download from localhost:8080 - polymer server but php server !!
            var subUrl = urlRoot + Polymer.dom(e).rootTarget.getAttribute('subUrl');
            this.currentSubtitles = subUrl;
            console.log("subs: " + subUrl);
            console.log("creating video tag with subs");
            var trackItem = document.createElement("track");
            trackItem.setAttribute("label", "subtitle");
            trackItem.setAttribute("src", subUrl);
            trackItem.setAttribute("srclang", "en");
            trackItem.setAttribute("oncuechange", "updateCurrentLine()");
            videoTag.appendChild(trackItem);
            break;
          default:
            console.log("wrong link to player, check paper-button attributes");
        }
        // controls tag common in all cases
        var vidDiv = document.getElementById("videoDiv");
        var controls = document.createElement("video-controls");
        controls.setAttribute("id", "videoControls");
        vidDiv.appendChild(controls);
        document.getElementById("videoPlayer").initVideoPlayer(mode);
      },
/**
 *  version of _getArgs function that takes dynamic sett 'item' from search results
 *  @method
 *  @param  {[type]} e [description]
 *  @return {[type]}   [description]
 */
      _getArgs2: function(item, mode="videoOnly") {
        // remove previous videos and subs if existed
        this.resetVideoDiv();
        this.makeLogInstance();
        //console.log(item);
        // add urlRoot to make sure file is not download from localhost:8080 - polymer server but php server !!
        var videoUrl = urlRoot + "/backend/" + item.path;
        this.currentVideoUrl = videoUrl;
        this.currentVideoId = item.id;
        //console.log("video: " + videoUrl);
        //console.log(this.currentVideoId);
        // find place to put video tag
        var videoDiv = document.getElementById("videoDiv");
        // create video tag
        var videoTag = document.createElement("video");
        videoTag.setAttribute("id","videoScreen");
        // this to load VTT without cors issue, video loaded but text not :/
        videoTag.setAttribute("crossorigin", "anonymous");
        videoTag.style.maxHeight = ($(window).height() * 0.5) + "px";
        videoTag.style.maxWidth = "100%";
        videoDiv.appendChild(videoTag);
        // create source tag to video
        var sourceItem = document.createElement("source");
        sourceItem.setAttribute("src", videoUrl);
        sourceItem.setAttribute("type", "video/mp4");
        videoTag.appendChild(sourceItem);
        // available modes video/vdeo+subs/video+editor
        switch (mode) {
          case "videoOnly":  // no more action needed
            //console.log("creating video tag without subs");
            break;
          case "subsEdit": // add editor tag
            //console.log("creating video tag without subs, creating editor tag");
            var editorTag = document.createElement("subs-editor");
            editorTag.setAttribute("id","subsEditor");
            document.getElementById("divForVideoAndEditor").appendChild(editorTag);
            // break;  !!!  NO BREAK after this case !!! add emptySub.vtt as trackText
          case "videoSubs":  // add subtitle tag to both video subs and edit modes
            // add urlRoot to make sure file is not download from localhost:8080 - polymer server but php server !!
            if (item.subtext) {
              var subUrl = urlRoot + "/backend/" + item.subtext;
            } else {
              var subUrl = urlRoot + "/backend/emptySub.vtt";
            }

            this.currentSubtitles = subUrl;
            //console.log("subs: " + subUrl);
            //console.log("creating video tag with subs");
            var trackItem = document.createElement("track");
            trackItem.setAttribute("label", "subtitle");
            trackItem.setAttribute("src", subUrl);
            trackItem.setAttribute("srclang", "en");
            trackItem.setAttribute("oncuechange", "updateCurrentLine()");
            videoTag.appendChild(trackItem);
            break;
          default:
            //console.log("wrong link to player, check paper-button attributes");
        }
        // controls tag common in all cases
        var vidDiv = document.getElementById("videoDiv");
        var controls = document.createElement("video-controls");
        controls.setAttribute("id", "videoControls");
        vidDiv.appendChild(controls);
        document.getElementById("videoPlayer").initVideoPlayer(mode);
      },

      initVideoTag: function() {
        document.getElementById("showVid");
        document.getElementById("divForVideoAndEditor");
        console.log('mode: ' + e.target.mode);
        console.log('mode: ' + e.target.url);
      },
      makeLogInstance: function() {
        var dta = new FormData();
        dta.append("vid", this.currentVideoId);
        var ajaxTag = $('#wwwtek')[0];
        ajaxTag.body = dta;
        ajaxTag.generateRequest();
      },
      responseReact2: function() {
        console.log("p of c");
        setAlertByObject($('#wwwtek')[0].lastResponse);
      }

    });
  </script>
</dom-module>
