<script src="../urlConfig.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">


<dom-module id="student-page">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h3>Welcome to ForeNett</h3>
    <h4>As a student You can Search available videos and playlist</h4>
    <h3>Here are five newest videos</h3>

  </template>

  <script>
    Polymer({

      is: 'student-page',

      properties: {
        comp_name: {
          type: String,
          value: 'student-page',
        },
      },

    });
  </script>
</dom-module>
