<script src="../urlConfig.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<dom-module id="recent-videos">
  <template>
    <style media="screen">
      .thumb {
        width: 100%;
        --iron-image-height: 100%;
        height: 100%;
        --iron-image-width: 100%;
      }

      .videopv {
        margin-bottom: 10px;
      }

      .videopv:hover {
        background-color: #EEE;
      }
    </style>

      <iron-ajax id="dd"
            url="[[backend]]"
            body=""
            handle-as="json"
        method="post"
        on-response="responseReact"
            last-response="{{ajaxResponse}}"
            with-credentials="true"
        verbose="true">
      </iron-ajax>
<div class="container">
  <div class="row" id="hideTarget">
  <template is="dom-repeat" id="recentVideoList" items="[[myItems]]">
    <div class="col-md-4 videopv" id=[[item.id]]>
      <iron-image videoId=[[item.id]]
      mode="videoSubs"
      videoUrl="/backend/[[item.path]]"
      subUrl="/backend/[[item.subtext]]" on-click="showVideoPlayer" preload class="thumb"  src="[[url]]/backend/[[item.thumbnail]]"></iron-image>
      <h3>[[item.name]]</h3>
      <p>[[item.desc]]</p>
    </div>
  </template>
  </div>
</div>


  </template>

  <script type="text/javascript">

  Polymer ({
    is: "recent-videos",

    properties: {
      backend: {
        type: String,
        value: urlRoot + "/backend/getRecent.php",
      },
      myItems: [],
      url: {
        type: String,
        value: urlRoot,
      },
    },

    attached: function () {
      this.refresh();
    },

    toggle: function () {
      var m = $('#hideTarget')[0];
      if(m.style.display == "none") {
        m.style.display = "block";
      } else {
        m.style.display = "none";
      }
    },
    showVideoPlayer: function(e) {
      var item = e.model.get("item");
      console.log(item);
      var playerModule = document.getElementById("playerModule");
      if (item.subtext) {
        playerModule._getArgs2(item, "videoSubs");
      } else {
        playerModule._getArgs2(item, "videoOnly");
      }
    },

    refresh: function () {
      this.myItems = null;
      var ajaxTag = document.getElementById("dd");
      ajaxTag.generateRequest();
    },

    responseReact: function() {
      response = $('#dd')[0].lastResponse;
      this.myItems = response;
    }
  });

  </script>

</dom-module>
