<script src="../urlConfig.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="remove-user">
  <template>
    <style media="screen">
    .student {

    }
    </style>

      <iron-ajax id="www"
            url="[[backend]]"
            body=""
            handle-as="json"
        method="post"
        on-response="responseReact"
            last-response="{{ajaxResponse}}"
            with-credentials="true"
        verbose="true">
      </iron-ajax>

<div class="container">
  <div class="row" id="hideTarget2">
  <template is="dom-repeat" id="removeUserList" items="[[ajaxResponse]]">
    <div class="student col-md-3">
      <h5>[[item.surename]], [[item.givenname]]</h5>
      <p>[[item.email]]</p>
      <paper-button id="[[item.id]]" raised on-tap="deleteUser" raised><iron-icon icon="delete"></iron-icon>
      Delete</paper-button>

    </div>
  </template>
  </div>
</div>


  </template>

  <script type="text/javascript">

  Polymer ({
    is: "remove-user",

    properties: {
      backend: {
        type: String,
        value: urlRoot + "/backend/userList.php",
      },

      myItems: [],
      url: {
        type: String,
        value: urlRoot,
      },
    },

    attached: function () {
      this.refresh();
      this.toggle();
    },

    toggle: function () {
      var m = $('#hideTarget2')[0];
      if(m.style.display == "none") {
        m.style.display = "block";
      } else {
        m.style.display = "none";
      }
    },

    refresh: function () {
      this.myItems = null;
      var ajaxTag = document.getElementById("www");
      ajaxTag.generateRequest();
    },

    responseReact: function() {
      response = $('#www')[0].lastResponse;
      this.myItems = response;
    },
    deleteUser: function (e) {
      var dt = new FormData();
      var id = e.target.id;
      dt.append("delete", id);
      var ajaxTag = $('#www')[0];
      ajaxTag.body = dt;
      ajaxTag.generateRequest();
      
    }
  });

  </script>

</dom-module>
