<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="video-controls">
  <template>
    <style>
      :host {
        display: block;

      }
      #volume {
        max-width: 100px;
      }
      #controlsDiv {
        padding: 10px;
      }
      #playerControls {
        padding-left: 20px;
      }
      #playerControls button {
        width: 30px;
      }
      #hp_slide {
          width:100%;
          background:lightgray;
          height:25px;
          opacity:0.5;
      }
      #hp_range {
          width:0%;
          background:black;
          height:25px;
      }
      #videoTimer {
        float: right;
        color: red;
      }
    </style>

    <div id="hp_slide">
      <div id="hp_range"></div>
<p id="videoTimer"><b>[[currentTimeOfVideo]]</b> <i>(time in sec.)</i></p>
    </div>

    <div id="controlsDiv" class="form-inline">
      <div class="form-group" id="playerControls">
        <div class="form-group">
          <button id="playpause" title="play" on-tap="togglePlayPause"><span class="glyphicon glyphicon-play"></span></button>
          <!-- Play/pause-knapp-->
          <button id="stop" title="stop" on-tap="stopVideo"><span class="glyphicon glyphicon-stop"></span></button>
          <!-- Hastiget-selector-->
          <select id="playbackRate" onchange="changePlaybackRate()">
            <option value="slow">0.5x</option>
            <option value="normal" selected="selected">1.0x</option>
            <option value="fast">1.5x</option>
            <option value="insane">5x</option>
          </select>
          <!--mute-knapp-->
          <button id="mute" onclick="toggleMute()">&#128263;</button>
        </div>
        <div class="form-group">
          <!--volum-slider-->
          <input id="volume" min="0" max="1" step="0.1" type="range" value="1" onchange="setVolume()"/>

        </div>
      </div>
    </div>



  </template>

  <script>

// Funksjonene under er basert pa nettside
// progress-bar scrubbing: http://blog.steveheffernan.com/2010/04/how-to-build-an-html5-video-player/
// Her er det kun endret på variabelnavn for at funksjonaliteten skal gjelde
// for progressbaren


function setPlayProgress(clickX) {
  var video = document.getElementById("videoScreen");
  var newPercent = Math.max(0, Math.min(1, (clickX - findPosX(hp_slide)) / hp_slide.offsetWidth));
  video.currentTime = newPercent * video.duration
  hp_range.style.width = newPercent * (hp_slide.offsetWidth - 2)  + "px";
}

function blockTextSelection(){
  document.body.focus();
  document.onselectstart = function () { return false; };
}

function unblockTextSelection(){
  document.onselectstart = function () { return true; };
}

function findPosX(obj) {
  var curleft = obj.offsetLeft;
  while(obj = obj.offsetParent) {
    curleft += obj.offsetLeft;
  }
  return curleft;
}


  // Hastighets-controller
  function changePlaybackRate() {
    var videoTag = document.getElementById("videoScreen");
    var playbackRate = document.getElementById("playbackRate");
    console.log("Rate before: " + videoTag.playbackRate);
    console.log(playbackRate.value);
    if(playbackRate.value == "slow") {
      videoTag.playbackRate = 0.5;

    }
    else if(playbackRate.value == "normal") {
      videoTag.playbackRate = 1.0;
    }
    else if(playbackRate.value == "fast") {
      videoTag.playbackRate = 1.5;
    }
    else if(playbackRate.value == "insane") {
      videoTag.playbackRate = 5;
    }

    console.log("Rate after: " + videoTag.playbackRate);
  }
  // Volum-slider
      function setVolume() { //fra nettside
        var videoTag = document.getElementById("videoScreen");
        var volume = document.getElementById("volume");
        console.log("volume before: " + videoTag.volume + " -muted: " + videoTag.muted );
        videoTag.volume = volume.value;
        console.log("volume after: " + videoTag.volume + " -muted: " + videoTag.muted );
        if (videoTag.volume > 0) {

        } else {
          // change mute button
        }
      }
      // mute-knapp
      function toggleMute() {
        var videoTag = document.getElementById("videoScreen");
        var mute = document.getElementById("mute");

        videoTag.muted = !videoTag.muted;
        if (videoTag.muted == true) {
          mute.innerHTML = "&#128266;";
          console.log("volume: " + videoTag.volume + " -muted: " + videoTag.muted );
        }
        else {
          mute.innerHTML = "&#128263;";
          console.log("volume: " + videoTag.volume + " -muted: " + videoTag.muted );
        }
      }
// end of funksjoner fra prosjekt 1

    Polymer({

      is: 'video-controls',

      properties: {
        comp_name: {
          type: String,
          value: 'video-controls',
        },
        currentTimeOfVideo: {
          type: Number,
          value: 0,
        },
      },

      attached : function() {
        console.log("controls attached");
          var video = document.getElementById("videoScreen");
          // Add listener for updating progressbar
          video.addEventListener("timeupdate", function() {
              var currentTime = video.currentTime;
              var duration = video.duration;
              var percent = Math.floor((100 / duration) * currentTime);
              document.getElementById("hp_range").style.width = percent + "%";
              document.getElementById("videoControls").currentTimeOfVideo = parseInt(currentTime);
          }, false);

          document.getElementById("hp_slide").addEventListener("mousedown", function() {
            if (video.paused) {
              videoWasPlaying = false;
            } else {
              videoWasPlaying = true;
              video.pause();
            }
            blockTextSelection();
            document.onmousemove = function(e) {
              setPlayProgress(e.pageX);
            }
            document.onmouseup = function() {
              unblockTextSelection();
              document.onmousemove = null;
              document.onmouseup = null;
              if (videoWasPlaying) {
                video.play();
              }
            }
          }, true);

          document.getElementById("hp_slide").addEventListener("mouseup", function(e){
            setPlayProgress(e.pageX);
          }, true);

      },

      togglePlayPause: function() {
        var videoTag = document.getElementById("videoScreen");
              //fra nettside
        var playpause = document.getElementById("playpause");
        console.log(videoTag);
        if (videoTag.paused || videoTag.ended) {
          playpause.title = "pause";
          playpause.innerHTML = '<span class="glyphicon glyphicon-pause"></span>';
          videoTag.play();
        } else {
          playpause.title = "play";
          playpause.innerHTML = '<span class="glyphicon glyphicon-play"></span>';
          videoTag.pause();
        }
      },

      stopVideo: function() {
        var videoTag = document.getElementById("videoScreen");
        var playpause = document.getElementById("playpause");
        videoTag.pause();
        playpause.title = "play";
        playpause.innerHTML = '<span class="glyphicon glyphicon-play"></span>';
        videoTag.currentTime = 0;
      },

    });
  </script>
</dom-module>
