<script src="../urlConfig.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">

<dom-module id="display-log">
  <template>
    <style media="screen">
    .student {

    }
    </style>

      <iron-ajax id="www2"
            url="[[backend]]"
            body=""
            handle-as="json"
        method="post"
        on-response="responseReact"
            last-response="{{ajaxResponse8}}"
            with-credentials="true"
        verbose="true">
      </iron-ajax>

<div class="container">
  <div class="row" id="hideTarget3">
  <template is="dom-repeat" id="removeUserList" items="[[ajaxResponse8]]">
    <div>
      <h3>[[item.name]]</h3>
      <h5>[[item.surename]], [[item.givenname]]</h5>
      <p>[[item.email]], [[item.tid]]</p>
    </div>
  </template>
  </div>
</div>


  </template>

  <script type="text/javascript">

  Polymer ({
    is: "display-log",

    properties: {
      backend: {
        type: String,
        value: urlRoot + "/backend/log.php",
      },
    },

    attached: function () {
      this.refresh();
      this.toggle();
    },

    toggle: function () {
      var m = $('#hideTarget3')[0];
      if(m.style.display == "none") {
        m.style.display = "block";
      } else {
        m.style.display = "none";
      }
    },

    refresh: function () {
      this.myItems = null;
      var ajaxTag = document.getElementById("www2");
      ajaxTag.generateRequest();
    },

    responseReact: function() {
      response = $('#www2')[0].lastResponse;
      this.myItems = response;
    }
  });

  </script>

</dom-module>
