<script src="../urlConfig.js"></script>
<script src="../clearData.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="add-tracklist">
  <template>
    <style>
    :host {
        display: none;
    }
    #listTitle {
        max-width: 250px;
    }
    #description {
        height: 130px;
        max-width: 650px;
    }
    #right{
        flex: 1;    
    }
    #myTracks, #me {
        /*background: #EFEFEF;
        padding: 10px;
        border: 3px;*/
        height: 190px;
    }
    </style>
    <h2>Current component [[comp_name]]</h2>
    <!-- Requester innholdet i fromene direkte til DB gjennom addtracklist.php -->
    <iron-ajax id="bb"
               url="[[phpFile]]"
               body=""
               handle-as="json"
               method="post"
               on-response="responseReact"
               last-response="{{ajaxResponse}}"
               with-credentials="true"
               verbose="true">
    </iron-ajax>
    <!-- Ask for videos that this user have, to give him chance to add it to tracklist -->
    <iron-ajax id="tracks"
               url="[[phpFile2]]"
               body=""
               handle-as="json"
               method="post"
               on-response="gotMyTracks"
               last-response="{{ajaxResponse}}"
               with-credentials="true"
               verbose="true">
    </iron-ajax>
    
    <!-- This Div will Show list of tracklist that user have, using Bootstrap -->
    <fieldset id="addTracklistForm">
        <div class="row">
            <div id="left" class="col-md-5">
                <input id="listTitle" type="text" class="form-control" name="title" placeholder="Tracklist Title" required autofocus/><br/>
                <textarea id="description" class="form-control" name="descip" placeholder="Description" on-keyup="countLength" maxlength="500" required></textarea>
                <span id="count"></span><span>/500</span><br>
                <input type="checkbox" id="private" name="priv" value="0" on-tap="makeItPrivate">
                <label>Make it as a private video</label>
            </div>
            <div class="col-md-7">
                <div class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Tracks</h3>
                        </div>
                        <div class="panel-body" id="myTracks" >
                            <h4 id="removeIt"  on-tap="getMyTracks">Click on my to see your videos</h4>
                            <!-- This will make a list of elements that user can choose between them, these element are truck that this user is the owner for it and do not exist in this tracklist. This will give the user chance to add them to the list while editing -->
                            <template is="dom-repeat" items="{{ajaxResponse}}">
                                <button type="button" id="[[item.id]]" class="list-group-item" on-tap="_addMe">
                                    {{item.name}}                  
                                </button>
                            </template>
                            
                        </div>
                    </div>
                </div>
                <div id="right" class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Videos in this list</h3>
                        </div>
                        <div class="panel-body" id="me">
                            <h4 id="removeH4">Click on wanted track to add here</h4>
                            <ul class="list-group" id="addTracksToList">
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
        <!-- 2 buttons to save chages or cancel-->
        <button class="btn btn-success"id="button" on-tap="registerTracklist">Add Tracklist</button>
        <button class="btn btn-danger" id="button" on-tap="cancelAdding">Cancel</button>
  </template>

    <script>
    Polymer({

      is: 'add-tracklist',

      properties: {
        comp_name: {
          type: String,
          value: 'add-tracklist',
        },
        phpFile: {
		  type: String,
		  value: urlRoot+"/backend/addTracklist.php",
		},
        phpFile2: {
		  type: String,
		  value: urlRoot+"/backend/getVideoList.php",
		},
      },
        
/**
 *  [Show character length in textarea, and stop if more than 500 characters]
 *  @method
 */
    countLength : function()
    {
        var txt = document.getElementById('description'),
            num = document.getElementById('count');
        num.style.color = 'black';
        num.innerHTML = value = txt.value.length;

        if(txt.value.length === 500)
            num.style.color = 'red';
    },
        
/**
 *  [clears and hides form]
 *  @method
 */
    cancelAdding: function()
    {
        clearAddTracklistForm();
        this.style.display='none';
    },
        
/**
 *  Get values from a form and create POST request out of them
 *  @method
 */
	registerTracklist: function ()
    {
        var ajaxTag = document.querySelector('#bb');
	    var name = document.getElementById("listTitle").value;
        var des = document.getElementById("description").value;
        var cBox = document.getElementById('private').value;
        
        var allVideos = document.getElementById('addTracksToList');
        var howMany = document.getElementById('addTracksToList').childElementCount;
        var videosInList = [];
        
        for(var i=1; i<=howMany; i++)
            videosInList[i] = allVideos.childNodes[i].id;
        
        /* A list have a ID, name, descriptiaon, addtime, owner, private.
            tlid     name    description     addtime     owner   private
        */
        ajaxTag.body =  "lbtn=true&name=" + name + 
                        "&description=" + des +
                        "&private=" + cBox +
                        "&videos=" + videosInList;

        console.log(ajaxTag.body);		
        ajaxTag.generateRequest();
        this.cancelAdding();
	},
        
/**
 *  Change checkboxs value if user want to make playlist private.
 *  @method
 */
    makeItPrivate: function ()
    {
        var cBox = document.getElementById('private'); // Get element
        
        if(cBox.value === '1')                         // Change Value
            cBox.value = '0';
        else
            cBox.value = '1';
    },
        
/**
 *  [reacts on data send in response from addUser.php]
 *  @method
 */
    responseReact : function ()
    {
        var response = document.querySelector('#bb').lastResponse;
        console.log(response);
        
        if (response.success)         // raport success and clear form
        {
            console.log(response.success);
            clearAddTracklistForm();
        }
       if (response.error)
           // raport error and keep form for changing (? clear also here ?)
           console.log(response.error);
    },

/**
 *  [reacts on data that came from getMyTracks.php, and give the chance for user to play with put videos on playlist]
 *  @method
 */
    gotMyTracks : function ()
    {
        // Get data from Ajax
        var response = document.querySelector('#tracks').lastResponse;
        console.log(response);                              // print response to console 
        
        //remH3.removeChild(remH3.childNodes[1]);
        var remH4 = document.getElementById('removeIt');
        remH4.parentNode.removeChild(remH4);
    },

/**
 *  [Get List of videos from database (file: getVideoList.php)]
 *  @method
 */
    getMyTracks : function ()
    {
        var ajaxTag = document.querySelector('#tracks');
        
        /* A list have a ID, name, descriptiaon, addtime, owner, private.
            tlid     name    description     addtime     owner   private
        */
        ajaxTag.body = "lbtn=true";	
        ajaxTag.generateRequest();
    },

/**
 *  [add videos on that i on own to this list]
 *  @method addMeToList
 *  
 *  
 */
    _addMe : function (e)
    {
        //console.log(e.model.get("item"));
        var removeMe = document.getElementById(e.model.get("item.id"));
        
        var h4 = document.getElementById('removeH4');
        if(h4 != null)                                  // Remove the H4 tag if found
            h4.parentNode.removeChild(h4);

        var myMom = removeMe.parentNode;

        if(myMom.id == "myTracks")                      // From tracklist to videos
        {
            removeMe.parentNode.removeChild(removeMe);
            var addMe = document.getElementById('addTracksToList');
            addMe.appendChild(removeMe);
        }
        else                                            // From Videos to tracklist
        {
            removeMe.parentNode.removeChild(removeMe);
            var addMe = document.getElementById('myTracks');
            addMe.appendChild(removeMe);
        }

        //console.log(removeMe);
    },
        

    });
  </script>
</dom-module>