<script src="../urlConfig.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">


<dom-module id="admin-page">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="jumbotron">
      <div class="container">
        <h1>Admin Panel</h1>
        <p>Use navigiation to manage users</p>
      </div>
    </div>

  </template>

  <script>
    Polymer({

      is: 'admin-page',

      properties: {
        comp_name: {
          type: String,
          value: 'admin-page',
        },
      },
    });
  </script>
</dom-module>
