<script src="../urlConfig.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-header-panel">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">


<dom-module id="navig-bar">
  <template>


    <style>
      :host {
        display: block;
      }
      nav button {
        margin-left: 5px;
        margin-right: 5px;
        vertical-align: middle;
      }
      nav span {
        margin-right: 5px;
      }
      nav li {
        vertical-align: middle;
      }
      #addUserDropdown {
        display: none;
      }
      #signOutButton {
        display: none;
      }
      #addVideoFile {
        display: none;
      }
      #searchModule {
        display: none;
        max-width: 95%;
      }
      #addTrackList {
        display: none;
      }
      #recentVid {
        display: block;
      }
      #removeUserButton {
        display: none;
      }
      #getLogButton {
        display: none;
      }
      #searchField {

      }

      #delTrackList {
        display: none;
      }

      #editTrackList {
        display: none;
      }

    </style>


<nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="toggle-demo" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">ForeNett</a>
    </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="btn-group navbar-left">
        <ul class="nav navbar-nav">
          <li  id="addUserDropdown">
            <button type="button" class="btn btn-link navbar-btn dropdown-toggle" data-toggle="dropdown"><iron-icon icon="perm-identity"></iron-icon>
             Add user <span class="caret"></span></button>
            <ul class="dropdown-menu navbar-inverse" role="menu">
              <li id="addTeacher" on-tap="signUpTeacher"><button class="btn btn-link"><span class="glyphicon glyphicon-user"></span> Teacher</button></li>
              <li id="addStudent" on-tap="signUpStudent"><button class="btn btn-link"><span class="glyphicon glyphicon-user"></span> Student</button></li>
            </ul>
          </li>
          <li id="addVideoFile"><button on-click="toggleVideo" class="btn btn-link navbar-btn"><iron-icon icon="file-upload"></iron-icon> Add video</button></li>
          <li id="addTrackList"><button on-click="toggleTrackList" class="btn btn-link navbar-btn"><iron-icon icon="add"></iron-icon>Add Playlist</button></li>
          <li id="editTrackList"><button on-click="toggleEditList" class="btn btn-link navbar-btn"><iron-icon icon="settings"></iron-icon>Edit Playlist</button></li>
          <li id="delTrackList"><button on-click="toggleDelList" class="btn btn-link navbar-btn"><iron-icon icon="delete"></iron-icon>Delete Playlist</button></li>
          <li id="addTrackList"><button on-click="toggleRecent" class="btn btn-link navbar-btn"><iron-icon icon="update"></iron-icon>Recent</button></li>

          <li id="recentVid"><button on-click="toggleRecent" class="btn btn-link navbar-btn"><iron-icon icon="update"></iron-icon>Recent</button></li>
          <li id="removeUserButton"><button on-click="removeUser" class="btn btn-link navbar-btn"><iron-icon icon="delete"></iron-icon>Remove Users</button></li>
          <li id="getLogButton"><button on-click="showLog" class="btn btn-link navbar-btn"><iron-icon icon="hourglass-empty"></iron-icon>Log</button></li>
        </ul>
      </div>
      <ul class="nav navbar-nav" id="searchModule">
        <li>
          <div class="navbar-form">
            <div class="form-group">
              <input id="searchField" name="searchWord" type="text" class="form-control" placeholder="Search">
            </div>
          </div>
        </li>
        <li><button class="btn btn-link navbar-btn" id="searchBtn" on-tap="searchForVideo"><span class="glyphicon glyphicon-search"></span> Search</button></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><button class="btn btn-link navbar-btn" id="signUpButton" on-tap="signUpStudent"><span class="glyphicon glyphicon-user"></span> Sign up</button></li>
        <li><button class="btn btn-link navbar-btn" id="signInButton" on-tap="signInUser"><span class="glyphicon glyphicon-log-in"></span> Sign in</button></li>
        <li><button class="btn btn-link navbar-btn" id="signOutButton" on-tap="signOutUser"><span class="glyphicon glyphicon-log-out"></span> Sign out</button></button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  </template>

  <script>
    Polymer({

      is: 'navig-bar',

      properties: {
        comp_name: {
          type: String,
          value: 'navig-bar',
        },
        user : {
          type: String,
          value: 'Guest',
        },
      },
/**
 *  [reacts on "add user - teacher" button tap, shows "sign-up" component]
 *  @method
 */
      signUpTeacher: function() {
        // in case menu is expanded and overlapping content
        $('#bs-example-navbar-collapse-1').collapse("hide");
        // in case clicked while filling up sign-in form
        document.getElementById("signInModule").cancelSignIn();

        document.getElementById("signUpModule").signUpTeacher();

      },
/**
 *  [reacts on "add user - student" & "sign up" buttons tap, shows "sign-up" component]
 *  @method
 */
      signUpStudent: function() {
        // in case menu is expanded and overlapping content
        $('#bs-example-navbar-collapse-1').collapse("hide");
        // in case clicked while filling up sign-in form
        document.getElementById("signInModule").cancelSignIn();

        document.getElementById("signUpModule").signUpStudent();
      },
/**
 *  [reacts on "sign in" button tap, shows "sign-in" component]
 *  @method
 */
      signInUser: function() {
        // in case menu is expanded and overlapping content
        $('#bs-example-navbar-collapse-1').collapse("hide");
        // in case clicked while filling up sign-up form
        document.getElementById("signUpModule").cancelSignUp();

        document.getElementById("signInModule").style.display='block';
      },
/**
 *  [reacts on "sign out" button tap, resetes panel til "guest-panel",]
 *  [removes user name store in panels, clears "sign-up" form]
 *  @method
 */
      signOutUser: function() {
        // in case menu is expanded and overlapping content
        $('#bs-example-navbar-collapse-1').collapse("hide");
        // in case Admin clicked while filling up sign-up form
        document.getElementById("signUpModule").cancelSignUp();

        // sign-in module clean up data and runs sign-out.php request
        document.getElementById("signInModule").signOut();

        document.getElementById("adminControlPanel").style.display = 'none';
        document.getElementById("teacherControlPanel").style.display = 'none';
        document.getElementById("studentControlPanel").style.display = 'none';
        document.getElementById("guestControlPanel").style.display = 'block';
        document.getElementById("topNavBar").showGuestNavBar();
      },
/**
 *  [updates navigation buttons status (hide/show)]
 *  @method
 */
      showLoggedAdminNavBar: function() {
        document.getElementById("addUserDropdown").style.display = 'block';
        document.getElementById("addVideoFile").style.display = 'none';
        document.getElementById("searchModule").style.display = 'none';
        document.getElementById("signUpButton").style.display = 'none';
        document.getElementById("signInButton").style.display = 'none';
        document.getElementById("signOutButton").style.display = 'block';
        document.getElementById("addTrackList").style.display = 'none';
        document.getElementById("recentVid").style.display = 'block';
        document.getElementById("removeUserButton").style.display = 'block';
        document.getElementById("getLogButton").style.display = 'none';
        document.getElementById("delTrackList").style.display = 'none';
        document.getElementById("editTrackList").style.display = 'none';
      },
/**
 *  [updates navigation buttons status (hide/show)]
 *  @method
 */
      showGuestNavBar: function() {
        document.getElementById("addUserDropdown").style.display = 'none';
        document.getElementById("addVideoFile").style.display = 'none';
        document.getElementById("searchModule").style.display = 'none';
        document.getElementById("signUpButton").style.display = 'block';
        document.getElementById("signInButton").style.display = 'block';
        document.getElementById("signOutButton").style.display = 'none';
        document.getElementById("addTrackList").style.display = 'none';
        document.getElementById("recentVid").style.display = 'block';
        document.getElementById("removeUserButton").style.display = 'none';
        document.getElementById("getLogButton").style.display = 'none';
        document.getElementById("delTrackList").style.display = 'none';
        document.getElementById("editTrackList").style.display = 'none';
      },
/**
 *  [updates navigation buttons status (hide/show)]
 *  @method
 */
      showStudentNavBar: function() {
        document.getElementById("addUserDropdown").style.display = 'none';
        document.getElementById("addVideoFile").style.display = 'none';
        document.getElementById("searchModule").style.display = 'block';
        document.getElementById("signUpButton").style.display = 'none';
        document.getElementById("signInButton").style.display = 'none';
        document.getElementById("signOutButton").style.display = 'block';
        document.getElementById("addTrackList").style.display = 'none';
        document.getElementById("recentVid").style.display = 'block';
        document.getElementById("removeUserButton").style.display = 'none';
        document.getElementById("getLogButton").style.display = 'none';
        document.getElementById("delTrackList").style.display = 'none';
        document.getElementById("editTrackList").style.display = 'none';
      },
/**
 *  [updates navigation buttons status (hide/show)]
 *  @method
 */
      showTeacherNavBar: function() {
        document.getElementById("addUserDropdown").style.display = 'none';
        document.getElementById("addVideoFile").style.display = 'block';
        document.getElementById("searchModule").style.display = 'block';
        document.getElementById("signUpButton").style.display = 'none';
        document.getElementById("signInButton").style.display = 'none';
        document.getElementById("signOutButton").style.display = 'block';
        document.getElementById("addTrackList").style.display = 'block';
        document.getElementById("recentVid").style.display = 'block';
        document.getElementById("removeUserButton").style.display = 'none';
        document.getElementById("getLogButton").style.display = 'block';
        document.getElementById("delTrackList").style.display = 'block';
        document.getElementById("editTrackList").style.display = 'block';


      },

      searchForVideo: function() {
        console.log(document.getElementById("searchComponent"));
        document.getElementById("searchComponent").searchVideos();
      },

      toggleVideo: function() {
        var vf = $('video-manager')[0];
        vf.toggle();

      },

      toggleRecent: function() {
        $('recent-videos')[0].toggle();
      },

      toggleTrackList: function () {
        var tl = $('#addTracklistModule')[0];
        if (tl.style.display == "none") {
          tl.style.display = "block";
        } else {
          tl.style.display = "none";
        }
      },

    toggleEditList:function ()
    {
        var tl = $('#editTracklistModule')[0];
        if (tl.style.display == "none")
            tl.style.display = "block";
        else
            tl.style.display = "none";
    },

    toggleDelList:function ()
    {
        var tl = $('#deleteTracklistModule')[0];
        if (tl.style.display == "none")
            tl.style.display = "block";
        else
            tl.style.display = "none";
    },

      removeUser: function() {
        $('#rmUser')[0].toggle();
      },

      showLog: function() {
        console.log("called");
        var v = $('#displayLog')[0].toggle();
      },
    });
  </script>
</dom-module>
