<script src="../urlConfig.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../guest-page/guest-page.html">

<dom-module id="guest-panel">
  <template>
    <style>
      :host {
        display: block;

      }
    </style>
    <guest-page></guest-page>
    <hr></hr>
    <!--
    <add-dummy-user></add-dummy-user>
    -->
  </template>

  <script>
    Polymer({

      is: 'guest-panel',

      properties: {
        comp_name: {
          type: String,
          value: 'guest-panel',
        },
        user : {
          type: String,
          value: 'Guest',
        },
      },

    });
  </script>
</dom-module>
