<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../video-list/video-list.html">
<link rel="import" href="../video-upload/video-upload.html">

<dom-module id = "video-manager">
  <template id="video-manager">
    <style media="screen">

    </style>

    <div class="container" id="videoManager2">

    </div>

  </template>

  <script type="text/javascript">
    Polymer ({
      is: "video-manager",
      properties: {

      generated: {
        type: Boolean,
      },
    },

      toggle: function () {
        var th = this.active();
        var m = document.getElementById("videoManager2");

        if (this.active()) {
          if(m.style.display == "none") {
            m.style.display = "block";
          } else {
            m.style.display = "none";
          }
        } else {
          if(m) {
          var upl = document.createElement("video-upload");
          upl.setAttribute("id", "videoUpload");

          var lst = document.createElement("video-list");
          lst.setAttribute("id", "videoList");
          m.appendChild(upl); m.appendChild(lst);
          this.activate();
        }
      }
      },

      attached: function () {
        this.generated = false;
      },

      active: function() {
        return this.generated;

      },

      activate: function() {
        this.generated = true;
      }
    });
  </script>

</dom-module>
