<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-lists/iron-list.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">


<dom-module name="search-video">
  <template>
    <style media="screen">
      :host {
        display: block;
      }
      .thumb {
        width: 100%;
        --iron-image-height: 100%;
        height: 100%;
        --iron-image-width: 100%;
      }

      .videopv {
        margin-bottom: 10px;
      }

      .videopv:hover {
        background-color: #EEE;
      }

      :host {
            display: block;
          }


      iron-list {
        min-height: 400px;

      }
      .scrollBox {

      }
    </style>
    <iron-ajax id="searchRequest"
      url="[[phpFile]]"
      body=""
      handle-as="json"
      method="post"
      on-response="reactOnResponseS"
      with-credentials="true"
      last-response="{{ajaxResponse}}"
      verbose="true"></iron-ajax>


    <div id="searchResultsDiv" class="row scrollBox">
            <div class="container">
              <div class="row">
              <template is="dom-repeat" id="recentVideoList" items="{{ajaxResponse}}">
                <div class="col-md-4 videopv" id=[[item.id]]  on-click="showVideoPlayer">
                  <iron-image videoId=[[item.id]]
                  mode="videoSubs"
                  videoUrl="/backend/[[item.path]]"
                  subUrl="/backend/[[item.subtext]]" preload class="thumb"  src="[[url]]/backend/[[item.thumbnail]]"></iron-image>
                  <h3>[[item.name]]</h3>
                  <p>[[item.desc]]</p>
                </div>
              </template>
              </div>
            </div>
            <div id="searchResultsListsDiv" class="col-md-4 col-sm-4"></div>
        <div id="searchListInhold" class="col-md-4 col-sm-4"></div>
    </div>




  </template>

  <script>
    Polymer({

      is: 'search-video',

      properties: {
        comp_name: {
          type: String,
          value: 'search-video',
        },
        phpFile: {
    		  type: String,
    		  value: urlRoot+"/backend/search.php",
    		},
        searchWord: {
          type: String,
          value: '',
        },
        url: {
          type: String,
          value: urlRoot,
        },
      },
  /*    attached : function () {
        var ajaxTag = document.getElementById("dd");
        var fd = new FormData();
        ajaxTag.generateRequest();
      },*/
      responseReact : function () {
        var response = document.getElementById("dd").lastResponse;
        console.log(response);
        var list = document.getElementsByTagName("iron-list")[0];

        document.querySelector('iron-list').notifyResize();

        //document.getElementById("itemList").items = response;
      },
      getClassForItem: function(item, selected) {
        //console.log(item, selected);
        return selected ? 'item expanded' : 'item';
      },

      searchVideos: function() {
        var ajaxTag = document.getElementById("searchRequest");
        var sw = document.getElementById("searchField").value;
        //console.log(this);
        ajaxTag.body = "searchWord=" + sw;
        ajaxTag.generateRequest();
      },

      reactOnResponseS: function() {
        var response = document.getElementById("searchRequest").lastResponse;
        console.log(response);
      },

      showVideoPlayer: function(e) {
        var item = e.model.get("item");
        //console.log(item);
        var playerModule = document.getElementById("playerModule");
        if (item.subtext) {
          playerModule._getArgs2(item, "videoSubs");
        } else {
          playerModule._getArgs2(item, "videoOnly");
        }

      }
    });
  </script>
</dom-module>
