<script src="../urlConfig.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">


<dom-module id="guest-page">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to ForeNett</h1>
         <p>You need to <a on-tap="signInLink">Sign in</a> to recieve all features</p>
        <p>Not a User yet? <a on-tap="signUpLink">Sign Up</a> to get access to newest playlist</p>
      </div>
    </div>

  </template>
   <script>
    Polymer({

      is: 'guest-page',

      properties: {
        comp_name: {
          type: String,
          value: 'guest-page',
        },
      },
/**
 *  [shows "search" module in "navig-bar"]
 *  @method
 */
      showSearch: function() {
        document.getElementById("searchModule").style.display = 'block';
      },
/**
 *  [alternative to "sign up" button]
 *  @method
 */
      signUpLink: function() {
        // in case clicked while filling up sign-in form
        document.getElementById("signInModule").cancelSignIn();

        document.getElementById("signUpModule").signUpStudent();
      },
/**
 *  [alternative to "sign in" button]
 *  @method
 */
      signInLink: function() {
        // in case clicked while filling up sign-up form
        document.getElementById("signUpModule").cancelSignUp();

        document.getElementById("signInModule").style.display='block';
      },
    });
  </script>
</dom-module>
