<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-lists/iron-list.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-page/iron-pages.html">



<dom-module id="video-list">
  <style media="screen">
    .video-list .row{
      margin-top: 10px;
      margin-bottom: 10px;
      min-height: 150px;
    }

    .primary {
      font-weight: bold;
      margin-top: 10px;

    }

    .item {
      /*padding: 20px;*/
      margin: 20px;
    }

    .valgpanel {
      padding: 5px;
      margin: 0px;
    }

    .valgpanel {
      display: none;
    }

     .expanded {
      display: block; document.generateRequest
    }

    .expanded .shortText {
      display: none;
    }

    .expanded .primary {
      display: none;
    }

    iron-image {
      padding: 5px;
    }

    .clitem:hover {
      background-color: #EEE;
    }

    .clitem .col-sm-3 {
      padding-left: 0px;
    }

    .linje {
      border-top-style: solid;
      border-width: 1px;
      border-color: #BBB;
    }


    iron-list {
      max-height: 600px;
      overflow-y: scroll;

    }

    .clitem {
      display: block;
    }
    .expanded:hover {
      background-color: #FFF;
    }

    #videoTarget {
      height: 600px;
      overflow-x: scroll;
    }
  </style>



<template id="">
  <iron-ajax id="dd"
        url="[[phpFile]]"
        body=""
        handle-as="json"
    method="post"
    on-response="responseReact"
        last-response="{{ajaxResponse}}"
        with-credentials="true"
    verbose="true">
  </iron-ajax>

  <iron-ajax id="ee"
        url=""
        body=""
        handle-as="json"
    method="post"
    on-response="responseReact2"
        last-response="{{ajaxResponse2}}"
        with-credentials="true"
    verbose="true">
  </iron-ajax>

<input id="thumbinput" type="file" name="thumbfile" value="" style="display:none">
<input type="file" name="subtextUpl" value="" style="display:none" id="subtextinput">
          <template is="dom-repeat" id="videoTarget" items="[[myItems]]">
            <div class ="clitem" on-tap="selVid" id="[[item.id]]" did="[[item.id]]">
              <div class="row" did="[[item.id]]">
                <div class="col-sm-3" did="[[item.id]]">
                  <iron-image style="min-height:130px; min-width:130px;" sizing="cover" src="[[url]]/backend/[[item.thumbnail]]"></iron-image>
                </div>

                <div class="col-sm-9" did="[[item.id]]">
                  <h3>[[item.name]]</h3>
                  <p>[[item.desc]]</p>

                  <div class="valgpanel">
                    <paper-input value="[[item.name]]" label="Name"></paper-input>
                    <paper-input value="[[item.desc]]" char-counter label="description"></paper-input>
                    <paper-button on-tap="save" class="" raised><iron-icon icon="save"></iron-icon>Save</paper-button>
                    <paper-button on-tap="deleteTrack" class="" raised><iron-icon icon="delete"></iron-icon>Delete</paper-button>
                    <paper-button raised on-tap="subtextUpl"><iron-icon icon="file-upload"></iron-icon>Subtext</paper-button>
                    <paper-button raised class="thumbselect" on-tap="addThumb"><iron-icon icon="file-upload"></iron-icon>Thumbnail
                    </paper-button>
                    <paper-button raised on-tap="openWithEditor"><iron-icon icon="create"></iron-icon>Edit subtitles</paper-button>
                  </div>
                </div>
              </div>
            </div>
          </template>





</template>

<script type="text/javascript">
  Polymer({
    is: 'video-list',
    properties: {
      comp_name: {
        type: String,
        value: 'video-list',
      },
      phpFile: {
        type: String,
        value: urlRoot + "/backend/getVideoList.php",
      },
      phpThumbUpload: {
        type: String,
        value: urlRoot + "/backend/addThumb.php",
      },
      phpUpdateFile: {
        type: String,
        value: urlRoot + "/backend/updateText.php",
      },
      phpSubtextFile: {
        type: String,
        value: urlRoot + "/backend/uploadVtt.php",
      },
      myItems: ['1', '2'],
    },

    ready: function() {

    },

    attached : function () {
      this.refreshList();
    },
    responseReact : function () {
      var response = document.getElementById("dd").lastResponse;

      if(response) {
        //console.log(response[0]);
        //console.log(this.myItems);
        this.myItems = response;

        //console.log(this.myItems);
    }
      //document.getElementById("itemList").items = response;
    },

    save : function(func) {
      var name = func.path[1].childNodes[1];
      var desc = func.path[1].childNodes[3];
      if(name && desc) {
        var form = new FormData();
        form.append("name",name.value);
        form.append("description", desc.value);
        form.append("direction", "update");
        form.append("vid", func.path[4].did);

        var ajaxTag = $('#ee')[0];
        ajaxTag.body = form;
        ataxTag.url = this.updateFile;
        ajaxTag.generateRequest();

        func.path[2].childNodes[1].innerHTML = name.value;
        func.path[2].childNodes[3].innerHTML = desc.value;
        func.path[1].classList.toggle("expanded");

    }


    },

    addThumb: function (id) {
      var videoId = id.path[4].did;
      console.log(id);
      var th = this;
      var inputfield = document.getElementById('thumbinput');
      inputfield.click();
      var t = this.phpThumbUpload;

      $('#thumbinput').change(function() {
        var formdata = new FormData();
        var filename = $('#thumbinput')[0].files[0];

        formdata.append("file", filename);
        formdata.append("vid", videoId);

        var ajaxTag = $('#ee')[0];
        ajaxTag.body = formdata;
        console.log(t);
        ajaxTag.url = t;
        ajaxTag.generateRequest();
      });

    },

    subtextUpl: function(id) {
      var t = this.phpSubtextFile;
      var videoId = id.path[4].did;
      var inputfield = document.getElementById('subtextinput');
      inputfield.click();

      $('#subtextinput').change(function() {
        var formdata = new FormData();
        var filename = $('#subtextinput')[0].files[0];

        formdata.append("file", filename);
        formdata.append("vid", videoId);

        var ajaxTag = $('#ee')[0];
        ajaxTag.url = t;
        ajaxTag.body = formdata;
        ajaxTag.generateRequest();
      });
    },


    responseReact2: function () {
      var response = $('#ee')[0].lastResponse;
      setAlertByObject(response);
      this.refreshList();
    },


    selVid: function (e) {
      var id = e.target.parentNode.did;
      var clitem = document.getElementById(id);
      if(clitem) {
        var valgpanel = clitem.getElementsByClassName("valgpanel")[0];
        valgpanel.classList.toggle("expanded");
      }
    },

    deleteTrack: function (e) {
      var vid = e.path[3].did;
      form = new FormData();
      form.append("direction", "delete");

      var ajaxTag = $('#ee')[0];
      ajaxTag.body = form;
      ataxTag.url = this.updateFile;
      ajaxTag.generateRequest();
    },

    refreshList: function () {
      this.myItems = null;
      var ajaxTag = document.getElementById("dd");
      ajaxTag.generateRequest();
    },

    openWithEditor: function(e) {
      var item = e.model.get("item");
      //console.log(item);
      var playerModule = document.getElementById("playerModule");
      playerModule._getArgs2(item, "subsEdit");
    }
  });
</script>


</dom-module>
