<script src="../urlConfig.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="foot-bar">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
<nav class="navbar navbar-inverse navbar-static-top navbar-fixed-bottom">
  <div>
      <p class="navbar-text">ForeNett - IMT2291 - project 2a  - Tomasz Rudowski, Martin Klingenberg og Ahmed S. M. Madhun </p>
  </div><!-- /.container-fluid -->
</nav>

  </template>

  <script>
    Polymer({

      is: 'foot-bar',

      properties: {
        comp_name: {
          type: String,
          value: 'foot-bar',
        },
        user : {
          type: String,
          value: 'Guest',
        },
      },

    });
  </script>
</dom-module>
