<script src="../urlConfig.js"></script>
<script src="../clearData.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="delete-tracklist">
    <template>
        <style>
        
        </style>
        <h2>Current component [[comp_name]]</h2>
        <!-- Get list of tracklists -->
        <iron-ajax id="getAllMyTrackNow"
                   url="[[phpFile1]]"
                   body=""
                   handle-as="json"
                   method="post"
                   on-response="responseReact"
                   last-response="{{ajaxRes1}}"
                   with-credentials="true"
                   verbose="true">
        </iron-ajax>
        <!-- Delete wanted track -->
        <iron-ajax id="deleteTracks"
                   url="[[phpFile2]]"
                   body=""
                   handle-as="json"
                   method="post"
                   on-response="responseReactt"
                   last-response="{{ajaxRes2}}"
                   with-credentials="true"
                   verbose="true">
        </iron-ajax>
        
        <!-- This Div will Show list of tracklist that user have, using Bootstrap -->
        <div id="showMylist" class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">My tracklist</h3>
            </div>
            <div class="panel-body" id="myList" >
                <!-- This will make a list of elements that user can choose between them -->
                <template is="dom-repeat" items="{{ajaxRes11}}">
                    <button type="button" id="[[item.tlid]]" class="list-group-item" on-tap="_remMe">
                        {{item.name}}                  
                    </button>
                </template>
                
            </div>
        </div>
        <!-- 2 buttons to save chages or cancel-->
        <button class="btn btn-success"id="button" on-tap="registerTracklist">Delete Tracklist</button>
        <button class="btn btn-danger" id="button" on-tap="cancelDel">Cancel</button>
    </template>
    <script>
    Polymer({

      is: 'delete-tracklist',

      properties: {
        comp_name: {
          type: String,
          value: 'delete-tracklist',
        },
        phpFile1: {
		  type: String,
		  value: urlRoot+"/backend/showListofList.php",
		},
        phpFile2: {
            type: String,
            value: urlRoot+"/backend/deleteList.php",
		},
      },
    
    /* Using attached will give get auto result without a trigger like button */
    attached: function()
    {
        this.showList();                                         // function to show list
    },
        
/**
 *  [clears and hides form]
 *  @method cancelEdit
 */
    cancelDel: function()
    {
        clearDeleteTracklistForm();
        this.style.display='none';
    },
        
/**
 *  [Get List of tacklist from database (file: showListofList.php)]
 *  @method showList
 */
    showList: function()
    {
        // Get data from Ajax
        var ajaxTag = document.querySelector('#getAllMyTrackNow');
        
        /* A list have a ID, name, descriptiaon, addtime, owner, private.
            tlid     name    description     addtime     owner   private
        */
        ajaxTag.body = "lbtn=true";	
        ajaxTag.generateRequest();
    },
        
/**
 *  [reacts on data send in response from showListofList.php]
 *  @method responseReact
 */
    responseReact : function ()
    {
        // Get responsen fram Ajax and print it to show if data is right.
        var response = document.querySelector('#getAllMyTrackNow').lastResponse;
        console.log(response);
    },
        
/**
 *  [reacts on data send in response from showListofList.php]
 *  @method responseReact
 */
    responseReactt : function ()
    {
        // Get responsen fram Ajax and print it to show if data is right.
        var response = document.querySelector('#deleteTracks').lastResponse;
        console.log(response);
    },
        
/**
 *  [the choosen element will be deleted]
 *  @method _choseMe
 *  @param e: it is the object that user have chossen.
 *  
 */
    _remMe : function (e)
    {
        //No need for list now, so hide it
        var hide = document.getElementById('showMylist').style.display = 'none';
        var listId = document.getElementById(e.model.get("item.tlid")).id;
        
        //First-one (read up)
        var ajaxTag = document.querySelector('#deleteTracks');
        ajaxTag.body =  "lbtn=true&listId=" + listId;

        //generate all one by one !!
        ajaxTag.generateRequest();
    },
    
     });
    </script>