<script src="../urlConfig.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="teacher-page">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

  </template>

  <script>
    Polymer({

      is: 'teacher-page',

      properties: {
        comp_name: {
          type: String,
          value: 'teacher-page',
        },
      },
    });
  </script>
</dom-module>
