<script src="../urlConfig.js"></script>
<script src="../clearData.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="sign-up">
  <template>
    <style>
      :host {
        display: none;
      }
      fieldset {
	    max-width: 250px;
      display: block;
	  }

    </style>
    <i>Current komponent(lev.2): [[comp_name]]</i><br></br>
		<iron-ajax id="aa"
          url="[[phpFile]]"
          body=""
          handle-as="json"
		  method="post"
		  on-response="reactOnResponse"
          last-response="{{ajaxResponse}}"
		  verbose="true"></iron-ajax>
        <fieldset id="signUpForm">

            <legend><h4>Sign up ([[userType]]):</h4></legend>
            <div class="inner-addon left-addon">
                <input id="inputGivenname" type="text" class="form-control" name="givenname" placeholder="Name" required autofocus/><br/>
                <input id="inputSurename" type="text" class="form-control" name="surname" placeholder="Surname" required/><br/>
                <input id="inputEmail" type="email" class="form-control" name="email" placeholder="Email address" required/><br/>
                <input id="inputPassword" type="password" name="password" placeholder="Password" class="form-control"  required/>
				        <input id="inputClearance" type="hidden"/>
                <img id="showOrHide" src="../site_images/eye.png" width="15" on-mouseover="switchView" style="opacity:0.5;"><br/>
                <input id="signUpCheckbox" type="checkbox"><label>Remember me</label><br/>
            </div>
        <button class="btn btn-success"id="button" on-tap="registerUser">Sign up [[userType]]</button>
        <button class="btn btn-danger" id="button" on-tap="cancelSignUp">Cancel</button>
        </fieldset>
  </template>

  <script>
  Polymer({

      is: 'sign-up',

      properties: {
        comp_name: {
          type: String,
          value: 'sign-up',
        },
        userType: {
          type: String,
          value: 'Student',
        },
		phpFile: {
		  type: String,
		  value: urlRoot+"/backend/addUser.php",
		}
      },
/**
 *  [reacts on mouse over "eye" picture, shows/hides password input]
 *  @method
 */
    switchView : function(){
        var btn = document.getElementById('showOrHide'),
            inp = document.getElementById('inputPassword');
        //console.log(inp);

        if(btn.style.opacity == 0.5) {
            inp.setAttribute('type', 'text');
            btn.style.opacity = 1;
        //console.log(inp);
        }
        else{
            inp.setAttribute('type', 'password');
            btn.style.opacity = 0.5;
        //console.log(inp);
        }
    },

    signUpTeacher: function() {
      this.userType = "Teacher";
      this.style.display='block';
      document.getElementById("inputClearance").value = 2;
    },

    signUpStudent: function() {
      this.userType = "Student";
      this.style.display='block';
      document.getElementById("inputClearance").value = 3;
    },

/**
 *  Get values from a form and create POST request out of them
 *  @method
 */
	registerUser: function () {
		var ajaxTag = document.querySelector('#aa');
	  var email = document.getElementById("inputEmail").value;
	  var pwd = document.getElementById("inputPassword").value;
		var gnm = document.getElementById("inputGivenname").value;
		var snm = document.getElementById("inputSurename").value;
		var cle = document.getElementById("inputClearance").value; //hidden default 3-student
		// to do:  add $_POST['signUpCheckbox'] when cookies implemented
		var sender = document.getElementById("mainApp").currentUser;

		ajaxTag.body = "lbtn=true&email="+email+"&password="+pwd+"&givenname="+gnm+"&surename="+snm+"&clearance="+cle+"&sender="+sender;

		ajaxTag.generateRequest();

	},
/**
 *  [reacts on data send in response from addUser.php]
 *  @method
 */
    reactOnResponse : function () {
  	   var response = document.querySelector('#aa').lastResponse;
  	   console.log(response);
  	   if (response.success) { // raport success and clear form
  	     console.log(response.success);
         clearSignUpForm();
  	   }
        if (response.error) { // raport error and keep form for changing (? clear also here ?)
  	     console.log(response.error);
  	   }
    },
/**
 *  [clears and hides form]
 *  @method
 */
    cancelSignUp: function() {
      clearSignUpForm();
      document.getElementById("signUpModule").style.display='none';
    },

  });
  </script>
</dom-module>
