.pictureListDivClass {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  overflow-x: auto;
  overflow-y: auto;
  max-width: 100%;
  max-height: 80%;
}
#closeVideoBtn {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
}
