<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="sign-in">
  <template>
    <style>
      :host {
        display: none;
      }
    fieldset {
      max-width: 250px;
      display: block;
    }
    </style>
    <i>Current komponent(lev.2): [[comp_name]], User: [[login_status]].</i><br></br>

    <iron-ajax id="loginRequest"
      url="[[phpFile]]"
      body=""
      handle-as="json"
		  method="post"
		  on-response="reactOnResponse"
      with-credentials="true"
      last-response="{{ajaxResponse}}"
		  verbose="true"></iron-ajax>

      <fieldset id="signInForm">
        <legend><h4>Sign in:</h4></legend>
          <div class="inner-addon left-addon">
            <input id="signInEmail" type="email" class="form-control" name="email" placeholder="Email address" required/><br/>
            <input id="signInPassword" type="password" name="password" placeholder="Password" class="form-control"  required/>
            <input id="signInClearance" value="3" type="hidden"/>
            <img id="showOrHideSignIn" src="../site_images/eye.png" width="15" on-mouseover="switchView" style="opacity:0.5;"><br/>
            <input id="signInCheckbox" type="checkbox"><label>Remember me</label><br/>
          </div>
        <button class="btn btn-success" id="signInUser" on-tap="signInUser">Sign in</button>
        <button class="btn btn-danger" id="button" on-tap="cancelSignIn">Cancel</button>
      </fieldset>

  </template>

  <script>


    Polymer({
      is: 'sign-in',

      properties: {
        comp_name: {
          type: String,
          value: 'sign-in',
        },
        login_status: {
          type: String,
          value: 'Guest',
        },
        phpFile: {
    		  type: String,
    		  value: urlRoot+"/backend/login.php",
    		}
      },

/**
 *  [Runs when <body> loaded]
 *  @method
 *  @return {[type]} [description]
 */
      testPersistantLoginCookie: function() {
        //console.log( "Tester persistant login cookie");
        var persistantLoginCookie = getCookie("persistantLogin");
        if (persistantLoginCookie) {
          this.signInUsingPersistantLogin(persistantLoginCookie);
        } else {
          this.testSessionCookie();
        }
      },

/**
 *  [Runs when persistantLogin cookie not present]
 *  @method
 *  @return {[type]} [description]
 */
      testSessionCookie: function() {
        //console.log( "Tester session cookie");
        var sessionCookie = getCookie("PHPSESSID"); //(function in helpFunctions.js)
        if (sessionCookie) {
          this.signInUsingSessionCookie(sessionCookie);
        } else {
          //console.log("not found");
        }
      },

/**
 *  Switch between modes to show/hide password input
 *  @method
 *  @return {[type]} [description]
 */
    switchView : function() {
        var btn = document.getElementById('showOrHideSignIn'),
            inp = document.getElementById('signInPassword');

        if(btn.style.opacity == 0.5) {
            inp.setAttribute('type', 'text');
            btn.style.opacity = 1;
        }
        else{
            inp.setAttribute('type', 'password');
            btn.style.opacity = 0.5;
        }
    },

/**
 *  [Try to sign in using persistantLogin cookie]
 *  @method
 *  @param  {[string]} ccc [cookie value]
 *  @return {[type]}     [description]
 */
    signInUsingPersistantLogin: function(ccc) {
      //console.log(ccc);
      var ajaxTag = document.querySelector('#loginRequest');
      this.phpFile = urlRoot+"/backend/persistantLogin.php";
      ajaxTag.generateRequest();
    },

/**
 *  [Try to sign in using PHPSESSID cookie]
 *  @method
 *  @param  {[string]} ccc [cookie value]
 *  @return {[type]}     [description]
 */
    signInUsingSessionCookie: function(ccc) {
      //console.log(ccc);
      var ajaxTag = document.querySelector('#loginRequest');
      this.phpFile = urlRoot+"/backend/sessionLogin.php";
      ajaxTag.generateRequest();
    },
/**
 *  Get values from a form and create sign in POST request out of them
 *  @method
 *  @return {[type]} [description]
 */
    signInUser: function () {
  		var ajaxTag = document.querySelector('#loginRequest');
  	  var email = document.getElementById("signInEmail").value;
  	  var pwd = document.getElementById("signInPassword").value;
  		var cle = document.getElementById("signInClearance").value; //hidden default 2-student
  		// to do:  add $_POST['signInCheckbox'] when cookies implemented
      var remember = document.getElementById("signInCheckbox");
/*      if (remember.checked) {
        console.log("remember");
      } else {
        console.log("do not remember");
      }*/

      if ( email && pwd && cle) {
        ajaxTag.body = "lbtn=true&email="+email+"&password="+pwd+"&clearance="+cle;
        if (remember.checked) {
          //console.log("remember");
          ajaxTag.body += "&remember=true";
        }
        this.phpFile = urlRoot+"/backend/login.php";
        ajaxTag.generateRequest();
      } else {
        //console.log("Not all input field registered");
      }
  	},

/**
 *   reacts on response from addUser, sessionLogin, persistantLogin, signOut php files
 *  @method
 *  @return {[type]} [description]
 */
    reactOnResponse : function () {
       var response = document.querySelector('#loginRequest').lastResponse;
       //console.log(response);
       if (response.logout) {
         //console.log("logging out, revoking guest view");
       } else if (response.success) { // raport success: clear form
         if(response.persistantLogin) { // cookie value received
           //console.log('trying to add cookie');
           //console.log(response.persistantLogin);
           document.cookie = "persistantLogin=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"; //clear old one if exists
           setCookie("persistantLogin", response.persistantLogin, 14); //(function in helpFunctions.js)
         }
         //console.log(response.success);
         clearSignInForm();
         // hide sign-in module
         document.getElementById("signInModule").style.display='none';
         // update status at main application component,
         var mainAppTag = document.getElementById("mainApp");
         //console.log(mainAppTag.currentUser);
         mainAppTag.currentUser = response;
         //console.log(mainAppTag.currentUser);
         switch (response.clearance) {  // correct values {1,2,3}
            case "1":
              this.login_status = "Admin";
              document.getElementById("topNavBar").showLoggedAdminNavBar();
              document.getElementById("adminControlPanel").style.display = 'block';
              clearUserNames();     // remove previous user data, just in case...
              document.getElementById("adminControlPanel").updateUser();
              document.getElementById("teacherControlPanel").style.display = 'none';
              document.getElementById("studentControlPanel").style.display = 'none';
              document.getElementById("guestControlPanel").style.display = 'none';

              break;
            case "2":
              this.login_status = "Teacher";
              document.getElementById("topNavBar").showTeacherNavBar();
              document.getElementById("adminControlPanel").style.display = 'none';
              document.getElementById("teacherControlPanel").style.display = 'block';
              clearUserNames();     // remove previous user data, just in case...
              document.getElementById("teacherControlPanel").updateUser();
              document.getElementById("studentControlPanel").style.display = 'none';
              document.getElementById("guestControlPanel").style.display = 'none';
              break;
            case "3":
              this.login_status = "Student";
              document.getElementById("topNavBar").showStudentNavBar();
              document.getElementById("adminControlPanel").style.display = 'none';
              document.getElementById("teacherControlPanel").style.display = 'none';
              document.getElementById("studentControlPanel").style.display = 'block';
              clearUserNames();     // remove previous user data, just in case...
              document.getElementById("studentControlPanel").updateUser();
              document.getElementById("guestControlPanel").style.display = 'none';
              break;
            default:
              this.login_status = "Guest****";  // here is something wrong with login...
              document.getElementById("topNavBar").showGuestNavBar();
              document.getElementById("adminControlPanel").style.display = 'none';
              document.getElementById("teacherControlPanel").style.display = 'none';
              document.getElementById("studentControlPanel").style.display = 'none';
              document.getElementById("guestControlPanel").style.display = 'block';
              clearUserNames();     // remove previous user data, just in case...
         }
         document.getElementById("signOutButton").style.display='block';
         document.getElementById("signInButton").style.display='none';
       }
       if (response.error) { // raport error and keep form for changing
         //console.log(response.error);
         // hide form, show "Sign In" button
         document.getElementById("signInModule").style.display='none';
         //document.getElementById("closeSignInForm").style.display='block';
       }
    },
/**
 *  [not used, delete if not needed]
 *  @method
 */
    showSignInForm : function () {
      document.getElementById("signInForm").style.display='block';
      document.getElementById("showSignInForm").style.display='none';
    },
/**
 *  [cleans up after log out]
 *  @method
 */
    signOut : function () {
      clearSignInForm();
      clearUserNames();
      document.getElementById("mainApp").currentUser = "Not logged in";
      this.login_status = "Logged out";
      document.getElementById('justLogedIn').innerHTML = "";
      // to do: if persistantLogin cookie exist then remove it and contact db to remove persistant login from db
      var ajaxTag = document.querySelector('#loginRequest');
      this.phpFile = urlRoot+"/backend/signOut.php";
      ajaxTag.generateRequest();
      //removes cookies //those two lines from bootstrap examples

      document.cookie = "persistantLogin=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    },

/**
 *  [clears form and hides it]
 *  @method
 */
    cancelSignIn: function() {
      clearSignInForm();
      this.style.display='none';
    },

   });
  </script>
</dom-module>
