<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../video-controls/video-controls.html">

<dom-module id="player-video">
  <template>
    <style>
      :host {
        display: block;
      }
      #videoScreen {
        max-width: 100%;
      }
    </style>

    <div id="videoDiv">
<!--   this will be dynamically created by player-panel function
      <video id="videoScreen" >
        <source src="../../videos/sampleVideo.mp4" type="video/mp4">;
        <track label="sampleText" src='../../videos/sampleText2.vtt' srclang="en" oncuechange="updateCurrentLine()">;
      </video>
      <video-controls id="videoControls"></video-controls> -->
    </div>

  </template>

  <script>
/**
 *  This is to highlight and center subtitles
 *  @method updateCurrentLine
 *  @return {[type]}          [description]
 */
  function updateCurrentLine() {
    var currentVideoTime = document.getElementById("videoScreen").currentTime;
    // active lines could be as global var if not to be changed??
    var activeLines = $("[id=subtitleList] li");

    // those two helps to format position of highlighted line
    var firstActiveFlag = -1;
    var totalHeightAbove = 0;

    for (i=0; i<activeLines.length; i++) {
      // note height in px of current li-element
      var offsetSubs = parseInt($("[id=subtitleList] li:nth-child(" + (i+1) + ")").outerHeight());
      // count how many px above so far
      totalHeightAbove += offsetSubs;

      // get start and end of line display, from li-element atributes
      var lineStart = activeLines[i].startsAt;
      var lineEnd = activeLines[i].endsAt;

      // if event oncuechange occured in proper display time, mark the line etc.
      if (lineStart <= currentVideoTime && lineEnd > currentVideoTime) {
        if (firstActiveFlag < 0) {
          // note which line is first to be highlighted. run centering only once!
          firstActiveFlag = i;
          // find out how many px above, if it is more then 50% of div height, scroll up to center highlighted tekst
          var halfOfDivHeight = parseInt($("[id=textDiv]").outerHeight()) / 2;
          if (totalHeightAbove > halfOfDivHeight) {
            var newOffset = totalHeightAbove - halfOfDivHeight;
            document.getElementById("textDiv").scrollTop = newOffset;
          }
        }
        // highlight active lines
        activeLines[i].style.background = "yellow";
        // console info for us
        console.log ("Time: " + currentVideoTime + " -line: " + i + " -li.height: " + offsetSubs + " -total: " + totalHeightAbove);
      } else {
        // just in case it was selected before, this part is for inactive lines before and after
        // not perfect, there is a room for optimalization :) but on the other hand select all lines
        // no matter how many of them are active, and how messed up. It centers on first active of them.
        activeLines[i].style.background = "white";
      }
    }

  //  var activePictures = $("[id=pictureList] li");
    $("[id=pictureList] li").each( function(){
      //console.log($(this).prop("startsAt"));
      if ( $(this).prop("startsAt") <= currentVideoTime && $(this).prop("endsAt") > currentVideoTime ) {
        $(this).show();
      } else {
        $(this).hide();
      }
    });

  }


/**
 *  This reacts on change of time from outside video-tag, by setting videotime and updating highlighted textline
 *  @method setVideoTime
 *  @param  {[type]}     newTime [description]
 */
  function setVideoTime(newTime) {
    document.getElementById("videoScreen").currentTime = newTime;
    updateCurrentLine();
  }




    Polymer({

      is: 'player-video',

      properties: {
        comp_name: {
          type: String,
          value: 'player-video',
        },
        user : {
          type: String,
          value: 'player',
        },
      },

/**
 *  Function based on Fronter examples. Getting text lines in 'text div',
 *  turns on editor/view mode and create proper html-tags,
 *  in the end calls a function to get a picture-subtitle-list placed over video tag
 *  @method
 *  @param  {[type]} track              [description]
 *  @param  {String} [mode="videoSubs"] [description]
 *  @return {[type]}                    [description]
 */
      readContent: function (track, mode="videoSubs") {
        // track is a TexTrack object!
        console.log("reading content of loaded track...MODE:" + mode);
        //displayTrackStatuses(htmlTracks);
        var loadTekstDiv = document.getElementById("textDiv");
        loadTekstDiv.style.maxHeight = ($(window).height() * 0.8) + "px";
        console.log("tekst div max height" + loadTekstDiv.style.maxHeight);

        loadTekstDiv.innerHTML = '<ul id="subtitleList"></ul>';

        // Get the cue list for this track
        var cues = track.cues;

        var list = document.getElementById("subtitleList");
        // iterate on the cue list
        for(var i=0; i < cues.length; i++) {
          // current cue
          var cue = cues[i];

          var cueId = cue.id;
          var cueText = cue.text;
          var cueStart = cue.startTime;
          var cueEnd = cue.endTime;

          var listItem = document.createElement("li");
          listItem.cueId = cueId;
          listItem.startsAt = cueStart;
          //listItem.setAttribute("endsAt", cueEnd);
          listItem.endsAt = cueEnd;
          var anchorItem = document.createElement("a");

          anchorItem.href = "#";
          anchorItem.setAttribute("onclick", "setVideoTime(" + cueStart + "); return false;");

          if (mode === "subsEdit") {
            // add buttons in subsEdit
            var removeBtn = document.createElement("button");
            removeBtn.setAttribute("onclick", "removeLine(" + i + ")");
            removeBtn.setAttribute("class", "btn btn-danger btn-xs");
            removeBtn.style.marginRight="20px";
            removeBtn.innerHTML = "DEL"
            listItem.appendChild(removeBtn);
            var editLineBtn = document.createElement("button");
            editLineBtn.setAttribute("onclick", "editLine(" + i + ")");
            editLineBtn.setAttribute("class", "btn btn-warning btn-xs");
            editLineBtn.style.marginRight="20px";
            editLineBtn.innerHTML = "EDIT"
            listItem.appendChild(editLineBtn);
            var timerItem = document.createElement("b");
            timerItem.innerHTML = "(" + cueStart + " - " + cueEnd + ") ";
            listItem.appendChild(timerItem);
          }
          anchorItem.innerHTML += cueText;
          listItem.appendChild(anchorItem);
          list.appendChild(listItem);
          //loadTekstDiv.innerHTML += id + timeSegment + text;
        }
        // ready loaded subtext, with icons for pictures. Now get the pictures out of span.name
        // build additional list contains only pictures fitted current video size.
        document.getElementById("videoPlayer").buildPictureList();
      },

/**
 *  Function that builds picture-subtitle-list
 *  @method
 *  @return {[type]} [description]
 */
      buildPictureList: function() {
            //var start = pictureIcon.parent().parent().startsAt;  //don't work??
            //var end = pictureIcon.parent().parent().endsAt;      //don't work??
        var vidDiv = document.getElementById("videoPlayer");
        var pictDiv = document.getElementById("pictureListDiv");
        if (!pictDiv) { // first time loaded
          pictDiv = document.createElement("div");
          pictDiv.setAttribute("id", "pictureListDiv");
          pictDiv.setAttribute("class", "pictureListDivClass");
          pictDiv.innerHTML="";
          vidDiv.appendChild(pictDiv);
        } else {
          pictDiv.innerHTML = ""; // reset view
        }

        var pictureList = document.createElement("ul");
        pictureList.setAttribute("id", "pictureList");
        pictureList.setAttribute("class", "list-group");

        pictDiv.appendChild(pictureList);

// get all <span class="... subsPicture"></span> and create li-elements from them
        $(".subsPicture").each(function() {
          console.log($(this)[0].getAttribute('filename'));
          var urlPath;
          // create url out of .filename="sampleVideo_pict1.png"
          var str = $(this)[0].getAttribute('filename');
          var videoUrl = document.getElementById("playerModule").currentVideoUrl;
          var splittedUrl = videoUrl.split("/");
          if (splittedUrl.length > 1 ) {
            var videoFolder = splittedUrl[splittedUrl.length-2];
            urlPath = urlRoot + "/backend/videos/" + videoFolder + "/" + str;
          }

          // get start/end times from .parent.parent (li-element)
          var liElement = $(this).parent().parent();  // here element is not jquery, get attributes another way
          var pictStart = liElement[0].startsAt;
          var pictEnd = liElement[0].endsAt;
          var pictId = liElement[0].cueId;
          //console.log(liElement[0].startsAt + " -> " + liElement[0].endsAt);
          var liPictElement = document.createElement("li");
          liPictElement.startsAt = pictStart;
          liPictElement.endsAt = pictEnd;
          liPictElement.cueId = pictId;
          liPictElement.setAttribute = ("class", "list-group-item");  // not working
          //liPictElement.setAttribute("maxWidth", $("#videoPlayer").outerWidth());
          var pictItem = document.createElement("img");
          pictItem.setAttribute("src", urlPath);
          //pictItem.setAttribute("class", "subtitlePicture");
        //  pictItem.setAttribute("max-width", "400px"); // not working
          liPictElement.appendChild(pictItem);
          liPictElement.style.display = "none";
          document.getElementById("pictureList").appendChild(liPictElement);
        });

        console.log(pictDiv);
      },

/**
 *  Function from Fronter examples that loads vtt file
 *  @method
 *  @param  {[type]}   htmlTrack [description]
 *  @param  {Function} callback  [description]
 *  @param  {[type]}   mode      [description]
 *  @return {[type]}             [description]
 */

      getTrack: function (htmlTrack, callback, mode) {
        var textTrack = htmlTrack.track;

        if(htmlTrack.readyState === 2) {
           console.log("text track already loaded");
           textTrack.mode = "hidden";
           callback(textTrack, mode);
        } else {
           // will force the track to be loaded
               console.log("Forcing the text track to be loaded");

           textTrack.mode = "hidden";
           htmlTrack.addEventListener('load', function(e) {
               callback(textTrack, mode);
          });
        }
      },

/**
 *  Function called by player-panel component. It sets video max-height and calls getTrack to load subtitles
 *  @method
 *  @param  {[type]} mode [description]
 *  @return {[type]}      [description]
 */
      initVideoPlayer: function(mode) {
        // called when the page has been loaded
        var video = document.querySelector("#videoScreen");
        // set max-height for to high videoes
        //video.style.maxHeight = ($(window).height() * 0.5) + "px";
        console.log("video tag max height" + video.style.maxHeight);
        //video.controls = true;
        //trackStatusesDiv = document.querySelector("#trackStatusesDiv");

        // Get the tracks as HTML elements
        var htmlTracks = document.querySelectorAll("track");
        var playerComp = document.getElementById("videoPlayer");

        // Load track 0, default subtitles
        if (htmlTracks.length) {
          playerComp.getTrack(htmlTracks[0], playerComp.readContent, mode);
        } else {
          console.log("didn't find track tag inside video tag");
        }
        var closeVideoBtn = document.createElement("button");
        closeVideoBtn.setAttribute("id", "closeVideoBtn");
        closeVideoBtn.setAttribute("class", "btn btn-danger");
        closeVideoBtn.setAttribute("onclick", "closeVideo()");
        closeVideoBtn.innerHTML="Close";
        document.getElementById("videoDiv").appendChild(closeVideoBtn);
      },

/**
 *  Resets video div
 *  @method
 *  @return {[type]} [description]
 */
      clearVideoDiv: function() {
        document.getElementById("videoDiv").innerHTML="";
      },

    });
  </script>
</dom-module>
