<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../navig-bar/navig-bar.html">
<link rel="import" href="../admin-panel/admin-panel.html">
<link rel="import" href="../teacher-panel/teacher-panel.html">
<link rel="import" href="../student-panel/student-panel.html">
<link rel="import" href="../guest-panel/guest-panel.html">
<link rel="import" href="../sign-up/sign-up.html">
<link rel="import" href="../sign-in/sign-in.html">
<link rel="import" href="../foot-bar/foot-bar.html">
<link rel="import" href="../add-tracklist/add-tracklist.html">
<link rel="import" href="../player-panel/player-panel.html">
<link rel="import" href="../search-video/search-video.html">
<link rel="import" href="../video-list/video-list.html">
<link rel="import" href="../recent-videos/recent-videos.html">



<dom-module id="imt2291-p2-app">
  <template>
    <style>
    :host {
      display: block;
      padding-bottom: 50px;
    }
    </style>
  <!-- Common for all users navigation -->
  <navig-bar id="topNavBar"></navig-bar>

  <!-- this is only logged in user welcome text, to remove when something better found -->
  <p id="justLogedIn"></p>

  <!-- videoplayer and subtitle editor -->


  <!-- search request/response component -->
  <search-video id="searchComponent"></search-video>



  <!-- Only one panel can be active/shown at the time. They should inhold
    UserType-page component for content and specific extra menu/buttons/forms etc. -->
	<admin-panel id="adminControlPanel"></admin-panel>
  <teacher-panel id="teacherControlPanel"></teacher-panel>
  <student-panel id="studentControlPanel"></student-panel>
  <guest-panel id="guestControlPanel"></guest-panel>

  <div id="alertbox"></div>

<div class="container">
  <remove-user id="rmUser"></remove-user>
  <player-panel id="playerModule"></player-panel>
</div>


  <!-- Each module active by request/button-tap. Can replace with modal as in first project -->
  <sign-up id="signUpModule"></sign-up>
  <sign-in id="signInModule"></sign-in>
  <!-- videoplayer and subtitle editor -->
  <!--<player-panel id="playerModule"></player-panel>-->

  <recent-videos></recent-videos>


  <!-- Common for all views footer info -->
  <foot-bar id="bottomNavBar"></foot-bar>

  </template>

  <script>
    Polymer({

      is: 'imt2291-p2-app',

      properties: {
        comp_name: {
          type: String,
          value: 'imt2291-p2-app',
        },
        currentUser: {
          type: Object,
          value: {
            id: "defaultId",
            givenname: "defaultGivenname",
            surename: "defaultsurename",
            email: "defaultEmail",
            clearance: "defaultClearance",
          }
        },
      },

    });
  </script>
</dom-module>
